<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Weather Flashcard</h1>
      </div>
      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/age3weather.png"  class="offset-s3 responsive-img" alt="Name and Pictures of weather flashcard">
      </div>
      <div>
        <br/>
      </div>
      <div class="col s12 m10 l12 offset-s3">
                <span class="black-text">

                  <p>Kids enjoy all the weather. In rainy weather,
                    they take a bath in a natural shower and play with
                    rain water. In summer weather, they enjoy playing
                    till late evening. In winter weather, they enjoy
                    playing with snow and making snowmen. We have created
                    <a href="/weather-flashcard">weather flashcard</a>
                    which helps kids to know all weather conditions</p>

                  <p>Weather is the state of the atmosphere at a
                    particular time and <a href="/places-flashcard">place</a>. It tells us the degree to
                  which it is hot or cold, wet or dry, clam or stromy,
                  clever or cloudy. Climate is a long term pattern of weather
                  in a place averaged over many years.</p>

                  <p>Weather is different in different parts of the world (
                    <a href="/flashcard/AGE4WORLDPLACESFLASHCARD">World's famous places</a>).
                  For example, when there is a Summer in Australia and
                  New Zealand, its Winters in America, Canada and India.
                  The reason for this different weather is that the earth
                  tilts a bit while revolving around the sun. The part which
                  is near to the sun has warm weather and the part which is
                  far from the sun has cool weather.</p>

                  <p>Weather has a direct impact on the type of the <a href="/clothes-flashcard">clothes</a>
                  we wear. We wear warm clothes in winter to keep our body warm,
                  cotton clothes in summer to keep our body cool, rain coats to
                  keep our body dry.</p>

                  <p>Many industries work according to the weather such as
                    farmers grow <a href="/fruit-flashcard">fruits</a> and
                      <a href="/vegetable-flashcard">vegetables</a> according to the season,
                  Clothe industry manufacture clothes according to the weather etc.</p>

                  <p>Each country's metrological department helps to forecast
                    the <a href="/weather-flashcard">weather</a>. This helps us to prepare for upcoming extreme
                  conditions, like strom, heavy rain, tornadoes etc. There are
                  four essential weather instruments in every weather station
                  like thermometer, barometer, hydrometer, rain gauge.</p>


                </span>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Weather Flashcards
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE3WEATHERWORDSFLASHCARD">
                <img src="/assets/img/age3weather.png"  align="center" class="offset-s3 responsive-img"
                     alt="Pictures and name of different weather flashcard"></a></div>

            <div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE3WEATHERWORDSFLASHCARD">
                Pictures of Weathers Flashcards</a></span> <br/>

              <ul>
                <li>
                  <strong>Age:</strong> 1 to 4 years<br/>
                </li>
                <li>
                  <strong>Description:</strong> Names and Pictures of different weathers<br/>
                </li>
                <li>
                  <strong>Flashcard for following:</strong>
                  <table>
                    <tr>
                      <td>
                        Windy
                      </td>
                      <td>
                        Cloudy
                      </td>
                      <td>
                        Sunny
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Partly sunny
                      </td>
                      <td>
                        Thunderstorms
                      </td>
                      <td>
                        snowing
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Rainy
                      </td>
                      <td>
                        Rainbow
                      </td>
                      <td>
                        Tornados
                      </td>
                    </tr>

                  </table>
                  <br/>
                </li>
              </ul>
              <div>
                <div>
                  <a class="waves-effect waves-teal btn-flat"
                     href="/flashcard/AGE3WEATHERWORDSFLASHCARD">Play Weather Flashcards</a><br/>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

      <div>
      <h2><blockquote>
        All Weather Flashcards
      </blockquote></h2>
      <div class="row">
      <app-displayFlashCard
        id = "AGE3WEATHERWORDSFLASHCARD"
        order = "false"
      ></app-displayFlashCard>
    </div>
  </div>

    </div>
</div>
</div>
