<footer class="page-footer blue-grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h2 class="white-text">Omishaan</h2>
        <p class="grey-text text-lighten-4">A simple platform for brain development</p>
        <a target="_blank" href="https://www.facebook.com/kidsflashcards" class="fa fa-facebook"></a>
        <a target="_blank" href="https://twitter.com/omishaan" class="fa fa-twitter"></a>
        <a target="_blank" href="https://plus.google.com/u/0/113570005248286138447" class="fa fa-google"></a>
        <!--<a target="_blank" href="#" class="fa fa-linkedin"></a>
        <a target="_blank" href="#" class="fa fa-youtube"></a>
        <a target="_blank" href="#" class="fa fa-instagram"></a>-->

      </div>
      <div class="col l3 offset-4 s12">
        <!--<h2 class="white-text">Helpful Links:</h2>-->
        <ul id="nav-mobile" class=" ">

        </ul>
      </div>

      <div class="col l3 offset-4 s12">
        <h2 class="white-text">All about us</h2>
          <ul id="nav-mobile" class=" ">
            <li>
              <a class="grey-text text-lighten-3" href="/aboutus">About Us</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="/contactus">Contact Us</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="/privacypolicy">Privacy Policies</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="/termsandconditions">Terms and Conditions</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018-2021 Omishaan, All rights reserved.
      <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
    </div>
  </div>
</footer>



