<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">

        <h1 class="heading-alignment">Speech Therapy Activities at Home</h1>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/age1speechbanner1.jpg"  class="offset-s3 responsive-img" alt="Age 1 Speech Development">
      </div>


      <div >

        <div class="col s12 m10 l12 offset-s3">

          <h2> What is Speech therapy?</h2>
          <p>Speech therapy is the process of assessment and treatment of speech and language
            problems by Speech specialists. It helps children and adults to speak clearly.
          </p>

          <h2>How can parents do Speech therapy activities at home?</h2>
          <p>There are many activities that parents can do at home which helps to improve
            speech development. These activities are selected according to the age of the children.
            Top five activities apply to all age groups.
          </p>

          <ol>
            <li>  <strong>Flashcards
            </strong>
              <p>
                Parents can use the digital flashcards to motivate children to speak the words.
                Pictures and sounds  help to remember the words. Parents should say the words loud
                and clear, it motivates children to imitate sounds of the words.
              </p></li>
            <li>  <strong>Talking
            </strong>
              <p>
                Talking to children is a magical thing in speech therapy. Ideally, you should be
                talking to your child from birth. You can talk to them about any topic even if they
                are not responding. Engage them with some words and sounds.
              </p></li>
            <li>  <strong>Reading books
            </strong>
              <p>
                Reading age appropriate books aloud with children helps to learn many words by
                looking at pictures. You can describe the pictures and objects with some hypothetical
                stories which may interest your children.
              </p></li>
            <li>  <strong>Making silly noise

            </strong>
              <p>
                Making silly noise helps to articulate the sounds. It helps to do some exercise
                which makes the mouth flexible. These facial exercises help to practise some words.
              </p></li>
            <li>  <strong>Singing and music

            </strong>
              <p>
                Singing and music encourages children to speak. Rhymes help to remember some words.
                These days we have an abundance of catchy rhymes like Twinkle Twinkle little star,
                Five little monkeys jumping on the bed, wheels on the bus going round n round etc.
              </p></li>
            <li>  <strong>Blowing bubbles

            </strong>
              <p>
                Blowing bubbles is a way to do facial exercise. It strengthens the mouth muscles
                which are responsible for making speech sounds.

              </p></li>
            <li>  <strong>Blowing air in balloons

            </strong>
              <p>
                Blowing air in balloons is another way to do facial exercise. It eases the mouth
                muscles to articulate sounds and words with regular practice.
              </p></li>
            <li>  <strong>Limit screen time and play outside
            </strong>
              <p>
                We are surrounded by gadgets. Unlike adults, children are not aware that
                these gadgets have adverse effects on their mental and physical development.
                Speech development is also hampered if we expose children to excessive
                screen time. Parents should manage the usage of gadgets or devices with
                optimum control. On the other hand, we should play with kids outside in the backyard or park.
              </p></li>
          </ol>
          <p>Parents can find more activities <a href="https://otsimo.com/en/10-speech-exercises-at-home">here</a>.</p>

        </div>
      </div>



    </div>
  </div>
</div>
