<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Colors Flashcard</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/age3color.png"  class="offset-s3 responsive-img" alt="Picture and names of Colors flashcard ">
      </div>
      <div>
        <br/>
      </div>
      <div class="col s12 m10 l12 offset-s3">
                <span class="black-text">
                <p>Nature has made our life colourful. Sky is blue,
                  the grass is green, the sun is yellow and the moon is white.
                  All these examples show that we have a colourful life around us.
                  We have covered many colors in our <a href="/colors-flashcard">colors flashcards</a>. It contains
                  pictures and names of the colors which is helpful to remember the
                  colors with names.</p>

               <p>Kids start recognizing colors at an early age. They get attracted
                 to basic or primary colors i.e. red, blue, green, yellow. We can make
                 secondary colors using primary colors like mixing red and yellow
                 makes orange color, mixing red and blue makes brown color. Thus, we
                 can make different shades of colors.</p>

               <p>Studies show boys love blue colors and girls like pink.
                 Cloth industry utilises this fact and manufactures mostly blue
                 clothes (<a href="/clothes-flashcard">clothes flashcard</a>) for boys and pink clothes for girls. This trend is not
                 limited to *clothes but the toy, stationary and food packaging etc.</p>

               <p>We can teach different colors with the help of
                 <a href="/fruit-flashcard">fruits</a> and <a href="/vegetable-flashcard">vegetables</a>
                 . Kids love fruits like apples (red),
                 bananas (yellow) orange (orange), avocado (green) etc. Similarly,
                 okra is green, potato is brown, brinjal is purple, carrot is red etc.</p>

                 <p>Every <a href="/weather-flashcard">weather</a> brings new flowers in the garden.
                 <a href="/flowers-flashcard">Flowers</a> are of different colors. We present flowers on
                 different occasions. Colors of the flowers play important roles in the
                 occasions. White flowers bring purity. Red flowers represent passion
                 and love. Orange flowers spread happiness. </p>

                 <p>Colors may play an important role in the <a href="/emotions-flashcard">emotion</a> or personality
                 of the person. Warm colors (orange, red, yellow) show the emotion
                 of comfort to anger whereas cool colors (blue, green) show emotions
                 of calmness and sadness.</p>


                </span>
      </div>
      <div>
        <br/>
      </div>



      <div>
        <div class="row">
          <h2><blockquote>
            Colors Flashcards
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE3COLORFLASHCARD">
                <img src="assets/img/age3color.png"  align="center" class="offset-s3 responsive-img"
                     alt="pictures and name of colors flashcard"></a></div>

            <div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE3COLORFLASHCARD">
                Colors Flashcards</a></span> <br/>

              <ul>
                <li>
                  <strong>Age:</strong> 1 to 4 years<br/>
                </li>
                <li>
                  <strong>Description:</strong> Pictures and Name of different colors<br/>
                </li>
                <li>
                  <strong>Flashcard for following:</strong>
                  <table>
                    <tr>
                      <td>
                        Black
                      </td>
                      <td>
                        Blue
                      </td>
                      <td>
                        Green
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Orange
                      </td>
                      <td>
                        Pink
                      </td>
                      <td>
                        Purple
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Red
                      </td>
                      <td>
                        While
                      </td>
                      <td>
                        Yellow
                      </td>
                    </tr>

                  </table>
                  <br/>
                </li>
              </ul>
              <div>
                <div>
                  <a class="waves-effect waves-teal btn-flat"
                     href="/flashcard/AGE3COLORFLASHCARD">Play Colors Flashcards</a><br/>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>



</div>
