<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Shapes Flashcard</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/age3shapes.png"  class="offset-s3 responsive-img" alt="Shapes flashcard vocabulary for kids">
      </div>
      <div>
        <br/>
      </div>
      <div class="col s12 m10 l12 offset-s3">
                <span class="black-text">Parents should show the shape flashcard
                to the child and make the sound in front of them. We should encourage kids to mimic the sound and recognize the animal.
                <br/><br/>
                Parents should let child recognize the shapes before telling them. Sometime, they may recognize
                incorrectly but with regular practise they will improve. <br/>
                <br/>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>
                </span>
      </div>
      <div>
        <br/>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Shape Flashcards
          </blockquote></h2>
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3SHAPESFLASHCARD">
                <div class="card-content" style="text-align: center">
                  Shapes<br/>
                </div>
                <div class="card-image">

                  <img src="assets/img/age3shapes.png" alt="shape flashcard for age 1 to 4 years">

                </div>
              </a>
              <div class="card-content">
                <ul>
                  <li>
                    <strong>Age:</strong> 1 to 4 years<br/>
                  </li>
                  <li>
                    <strong>Description:</strong> Common shapes kids should know<br/>
                  </li>
                  <li>
                    <strong>Flashcard words:</strong> Arrow, Circle, Cross, Diamond, Heart, Hexagon, Moon, Octagon,
                    Oval, Parallelogram, Pentagon, Rectangle, Square,
                    Star, Trapezoid, Triangle<br/>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!--<div class="col s12 m6 l6">-->
          <!--<div class="card">-->
          <!--<a href="/flashcard/AGE2ALPHABETUPPERFLASHCARD?order=true">-->
          <!--<div class="card-content" style="text-align: center">-->
          <!--Alphabet (lowercase)<br/>-->

          <!--</div>-->
          <!--<div class="card-image">-->

          <!--<img src="/assets/img/abc-lowercase.png">-->

          <!--</div>-->
          <!--</a>-->
          <!--<div class="card-content">-->
          <!--Age: 1 to 4 years <br/>-->
          <!--Description: Lowercase alphabets from a to z <br/>-->
          <!--Order: Sequential order <br/>-->
          <!--<a href="/flashcard/AGE2ALPHABETUPPERFLASHCARD">Random order</a><br/>-->
          <!--</div>-->

          <!--</div>-->
          <!--</div>-->

        </div>
      </div>


    </div>
  </div>



