<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>My first words (age 1) flashcard</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/firstwords.png"  class="offset-s3 responsive-img" alt="Age 18 months Speech Development">
      </div>
      <div class="col s12 m12 l12">

        <div class="card-panel">
          <span class="black-text">At this age 1, children start saying few meaningful words like "pappa", "mumma", "dadda". They make many different sounds. They start following easy instructions like "no", "come", "bye". With little talking, they start grasping easy words.
              </span><br/><br/>

          <strong>Speech development Milestone: </strong><br/>
          1. Start saying some words like "pappa", "mamma", "dadda", "bye bye", "babba" <br/>
          2. Children say around 10 or more words <br/>
          3. Pointing to familiar people, objects <br/>
          4. Recognizing body parts <br/> <br/>

          <strong>Flashcards to improve speech development:</strong><br/>
          <p>We have designed special digital flashcards for children aged 12-18 months. It covers the
            variety of words according to the age. Parents can use the digital flashcards to motivate children
            to speak the words. Regular practice helps children to recognise the pictures in the digital flashcard.
            Please refer to how to use digital flashcard FAQs for more information. </p>
          <span class="card-title"><a href="/speech-development">more on speech development ...</a></span> <br/>
        </div>
      </div>
      //Row 0
      <div>
        <div class="row">
          <h2><blockquote>
            My first words Flashcards
          </blockquote></h2>
          <div class="col s12 m4 l4">
            <div class="card">
              <a href="/flashcard/AGE3FIRST50WORDSFLASHCARD">
                <div class="card-content" style="text-align: center">
                  My first 50 words<br/>
                </div>
                <div class="card-image">

                  <img src="assets/img/50words.png">

                </div>
              </a>
              <div class="card-content">
                Age: 1 to 4 years<br/>
                Description: Uppercase alphabets from A to Z <br/>
                Order: Sequential order <br/>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>



