<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Age 1 - Speech Development</h1>
      </div>
      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/age1speechbanner1.jpg"  class="offset-s3 responsive-img" alt="Age 1 Speech Development">
      </div>
      <div >

        <div class="card-panel">
          <span class="black-text">
          <strong>What are the overall development milestones? </strong><br/>
          <p>Age 1 is always exiting as kids start exploring things
            by taking their first steps, putting things in the mouth
            and imitating others. Parents should be at extra care as
            kids encounters accidents like slipping from stairs,
            touching hot tea or coffee, smashing finger in door etc.
          </p>
          <p>Some common milestones at age 1:</p>
         <ol>
           <li>Taking a first step</li>
           <li>Smiling for the first time</li>
           <li>Waving “bye-bye”</li>
           <li>Saying few words</li>
           <li>Pointing to familiar people, objects</li>
           <li>Recognizing body parts</li>
         </ol>


            <strong>What are the <u>speech development</u> milestones? </strong><br/>
          <p>Speech development is a natural but complex process.
            The stages of children’s speech development differ from
            child to child with time. Some children start picking
            up words or sounds at early months after completing year
            one but most kids start saying words at around 18 months.
            Study shows that some kids (late bloomer) start saying
            words after turning 2 years.
          </p>
          <p>Speech development process depends on many factors like:</p>
          <ol>
            <li>Family size</li>
            <li>Atmosphere at home</li>
            <li>Parents engagement with kids</li>
            <li>Social circle</li>
            <li>Parents habits</li>
          </ol>

          <p>There are some milestones which help to identify the
            normal speech development in the kids.
            These milestones can help parents if they need to spend
            extra time with kids on speech development.</p>

          <p>At this age, children start saying few meaningful
            words like "pappa", "mumma", "dadda". They make many
            different sounds. They start following
            easy instructions like "no", "come", "bye". With little
            talking, they start grasping easy words.
          </p>
          <p>Speech development Milestone:</p>
          <ol>
            <li>Start saying some words like "pappa", "mamma", "dadda", "bye bye", "babba"</li>
            <li>Children say around 10 or more words</li>
            <li>Pointing to familiar people, objects</li>
            <li>Recognizing body parts</li>
          </ol>

          <strong>Flashcards to improve speech development:</strong><br/>
            <p>We have designed special <a href="/flashcard/myfirstword-25-flashcard">video flashcards</a> for children aged 12 -18 months.
            It covers the variety of special words from other pictorial flashcards like
            <a href="/fruit-flashcard">fruit flashcards</a>, <a href="/animal-flashcard">animal flashcards</a>,
            <a href="/transportation-flashcard">transportation flashcards</a>, <a href="/vegetable-flashcard">vegetable flashcards</a>,
              <a href="/flowers-flashcard">flower flashcard</a>, food flashcards.</p>

          <p>Parents can use the video flashcards to
            motivate children to speak the words. Regular
            practice helps children to recognize the pictures
            in the digital flashcard.
            Please refer to how to use digital flashcard FAQs
            for more information.</p>

          <span class="card-title"><a href="/speech-development">more on speech development ...</a></span> <br/>

            </span>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            My first Words Video Flashcards Part-1
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/myfirstword-25-flashcard">
                <img src="/assets/img/myFirst25WordsBanner.png"  align="center" class="offset-s3 responsive-img" alt="My first 25 words Gif Flashcards for baby age 1"></a></div>

            <div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/myfirstword-25-flashcard">My first 25 words Gif Flashcards</a></span> <br/>
              <ul>
                <li>
                  <strong>Age:</strong> 1 to 2 years<br/>
                </li>
                <li>
                  <strong>Description:</strong> My first 25 words with videos and pictures<br/>
                </li>
                <li>
                  <strong>Flashcard covers following words:</strong>
                  <table>
                    <tr>
                      <td>
                        Baby
                      </td>
                      <td>
                        Fish
                      </td>
                      <td>
                        Ball
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Juice
                      </td>
                      <td>
                        Bye Bye
                      </td>
                      <td>
                        Lion
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Dog
                      </td>
                      <td>
                        Flying Kiss
                      </td>
                      <td>
                        Shoe
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Teddy
                      </td>
                      <td>
                        Boy
                      </td>
                      <td>
                        Cat
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Girl
                      </td>
                      <td>
                        High five
                      </td>
                      <td>
                        Bus
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Banana
                      </td>
                      <td>
                        Plane
                      </td>
                      <td>
                        Duck
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Apple
                      </td>
                      <td>
                        Moon
                      </td>
                      <td>
                        Milk
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Spoon
                      </td>
                      <td>
                        Hat
                      </td>
                      <td>
                        Car
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Train
                      </td>
                      <td>

                      </td>
                      <td>

                      </td>
                    </tr>



                  </table>
                  <br/>
                </li>
              </ul>
              <div>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/flashcard/myfirstword-25-flashcard">Play My first 25 words Flashcards</a><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            My Next Words Video Flashcards Part-2
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/myfirstword-25plus-flashcard">
                <img src="/assets/img/MyNextfirstword.png"  align="center" class="offset-s3 responsive-img" alt="My next 25 words video Flashcards for kids age 1"></a></div>

            <div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/myfirstword-25plus-flashcard">My Next 25 words video Flashcards</a></span> <br/>
              <ul>
                <li>
                  <strong>Age:</strong> 1 to 2 years<br/>
                </li>
                <li>
                  <strong>Description:</strong> My next 25 words with videos and pictures<br/>
                </li>
                <li>
                  <strong>Flashcard covers following words:</strong>
                  <table>
                    <tr>
                      <td>
                        Bird
                      </td>
                      <td>
                        Phone
                      </td>
                      <td>
                        No
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Candy
                      </td>
                      <td>
                        Sun
                      </td>
                      <td>
                        Bed
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Door
                      </td>
                      <td>
                        Truck
                      </td>
                      <td>
                        Light
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Yes
                      </td>
                      <td>
                        Sheep
                      </td>
                      <td>
                        TV
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Book
                      </td>
                      <td>
                        Cow
                      </td>
                      <td>
                        Jumping
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Cookie
                      </td>
                      <td>
                        Kite
                      </td>
                      <td>
                        Butterfly
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Ice Cream
                      </td>
                      <td>
                        Frog
                      </td>
                      <td>
                        Brush
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Fan
                      </td>
                      <td>
                        Flower
                      </td>
                      <td>
                        Lollipop
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Orange
                      </td>
                      <td>
                      </td>
                      <td>
                      </td>
                    </tr>
                  </table>
                  <br/>
                </li>
              </ul>
              <div>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/flashcard/myfirstword-25plus-flashcard">Play My Next 25 words Flashcards</a><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            My first 50 words pictorial flashcards
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE3FIRST50WORDSFLASHCARD">My first 50 words Flashcards</a></span> <br/>

              <ul>
                <li>
                  <strong>Age:</strong> 1 to 2 years<br/>
                </li>
                <li>
                  <strong>Description:</strong> My first 50 words with pictures.
                  It covers animals, fruits, vegetable, colors, shapes, family members<br/>
                </li>
                <li>
                  <strong>Flashcard covers following words:</strong>
                  <table>
                    <tr>
                      <td>
                        Cherry
                      </td>
                      <td>
                        Grapes
                      </td>
                      <td>
                        Kiwi
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Banana
                      </td>
                      <td>
                        Pineapple
                      </td>
                      <td>
                        Apple
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Pear
                      </td>
                      <td>
                        Strawberry
                      </td>
                      <td>
                        Elephant
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Horse
                      </td>
                      <td>
                        Pig
                      </td>
                      <td>
                        Cat
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Cow
                      </td>
                      <td>
                        Zebra
                      </td>
                      <td>
                        Monkey
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Sheep
                      </td>
                      <td>
                        Rabbit
                      </td>
                      <td>
                        Zebra
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Duck
                      </td>
                      <td>
                        Lion
                      </td>
                      <td>
                        Eyes
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Lips
                      </td>
                      <td>
                        Feet
                      </td>
                      <td>
                        Hair
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Chin
                      </td>
                      <td>
                        Finger
                      </td>
                      <td>
                        Ear
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Mother
                      </td>
                      <td>
                        Brother
                      </td>
                      <td>
                        Sister
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Grandfather
                      </td>
                      <td>
                        Grandmother
                      </td>
                      <td>
                        Family
                      </td>
                    </tr>
                    <tr>
                      <td>
                        White
                      </td>
                      <td>
                        Green
                      </td>
                      <td>
                        Red
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Blue
                      </td>
                      <td>
                        Yellow
                      </td>
                      <td>
                        Carrot
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Cucumber
                      </td>
                      <td>
                        Potato
                      </td>
                      <td>
                        Tomato
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Broccoli
                      </td>
                      <td>
                        Capsicum
                      </td>
                      <td>
                        Onion
                      </td>
                    </tr>

                    <tr>
                    <td>
                      Square
                    </td>
                    <td>
                      Triangle
                    </td>
                    <td>
                      Moon
                    </td>
                  </tr>
                    <tr>
                      <td>
                        Star
                      </td>
                      <td>

                      </td>
                      <td>

                      </td>
                    </tr>

                  </table>
                  <br/>
                </li>
              </ul>

              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard/AGE3FIRST50WORDSFLASHCARD">Play my first 50 words flashcards</a><br/>

              </div>

            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE3FIRST50WORDSFLASHCARD"><img src="assets/img/50words.png"  class="offset-s3 responsive-img" alt="My first 50 words Flashcards"></a></div>

            <div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
