<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <h1 class="heading-alignment">Age 3| Speech Development & flashcards</h1>
      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/alphabetbanner.png"  class="offset-s3 responsive-img" alt="Age 3| Speech Development & flashcards">
      </div>
      <div >

        <div class="card-panel">
          <span class="black-text">
          <strong>What are the overall development milestones at age 3? </strong><br/>
          <p>As children continue to grow at age 3,
            you can notice different abilities. Children feel more
            confident to perform various activities like running,
            jumping, walking up stairs, and riding bicycles. Although
            the rate of development may vary child to child. Parents
            should be extra careful as kids encounter accidents like
            slipping from stairs, touching hot tea or coffee, smashing
            fingers in doors etc.


          </p>
          <p>Some common milestones at age 3:</p>
         <ol>
            <li>Running Confidently</li>
            <li>Walking up and down on stairs</li>
            <li>Rides a bicycle</li>
            <li>Washes and dries hands</li>
            <li>Easily draws straight lines and copies a circle</li>
            <li>Eating food with spoon</li>
            <li>Partially able to dresses and undresses</li>
            <li>Has all baby teeth</li>
            <li>Vision is nearing 20/20</li>
            <li>May start using potty chair or toilet and inform about pee pee and poo poo</li>
            <li>Defined sleeping pattern </li>
            <li>Follow instruction like “switch on the light” or “close the door”</li>

         </ol>


            <strong>What are the <u>speech development</u> milestones? </strong><br/>
          <p>Children start speaking in sentences of 3-4 words.
            They are clear and better with familiar words.
            They follow moderate instructions. They are comfortable
            with around 200 or more words. They refer themself with pronouns
            like I, my, me or myself. They can say most of the words in age 2 flashcards.

          </p>

          <p>There are some milestones which help to identify the
            normal speech development in the kids.
            These milestones can help parents if they need to spend
            extra time with kids on speech development.</p>

          <p>Speech development Milestone at age 3:</p>
          <ol>
            <li>Start saying three or four words sentences or phrases like "let's go", "I want cookie", "my car"</li>
            <li>Children say around 400 or more words</li>
            <li>Follow moderate instructions like "bring toys", "brush your teeth"</li>
            <li>State or recognise their and family members name</li>
            <li>Children can be understood by family or close friends</li>
            <li>Children can say most of the age 2 words refer **here</li>
            <li>Repeat words as they hear from others or TV/ Google mini/ Alexa</li>
          </ol>

            <p>Speech development process depends on many factors like:</p>
            <ol>
              <li>Family size</li>
              <li>Atmosphere at home</li>
              <li>Parents engagement with kids</li>
              <li>Social circle</li>
              <li>Parents habits</li>
            </ol>

          <strong>Flashcards to improve speech development:</strong><br/>
            <p>We have a special collection of digital flashcards for children aged 3.
              It covers the most used words at this age. It's aligned with the rhymes
              and reading books for this age group.  We have designed advanced versions of flashcards for age 3.
              It covers more words in pictorial flashcards compared to age 2 like
            <a href="/fruit-flashcard">fruit flashcards</a>, <a href="/animal-flashcard">animal flashcards</a>,
            <a href="/transportation-flashcard">transportation flashcards</a>, <a href="/vegetable-flashcard">vegetable flashcards</a>,
              <a href="/flowers-flashcard">flower flashcard</a>, food flashcards.</p>

            <p>You may refer to <a href="/age2-vocabulary-flashcards"> age 2 flashcards</a>
              and <a href="/age1-vocabulary-flashcards"> age 1 flashcards</a>.
               It consists of special video and pictorial flashcards which
              kids enjoy. It covers words from my first words list and age 2 word list.
              It helps kids to pick up initial words to start communication. </p>

          <p>Parents can use the video flashcards to
            motivate children to speak the words. Regular
            practice helps children to recognize the pictures
            in the digital flashcard.
            Please refer to how to use digital flashcard FAQs
            for more information.</p>

          <a class="waves-effect waves-light btn" href="/speech-development">read more</a> <br/>

            </span>
        </div>
      </div>



      <div>
        <div class="row">
          <h2><blockquote>
            Pictorial Flashcards
          </blockquote></h2>
          <div class="col s12 m4 l4">
            <div class="card">

              <div class="card-content" style="text-align: center">
                <h3>Animal Flashcard</h3>
              </div>
              <a href="/flashcard/AGE3ANIMALSFLASHCARD">
                <div class="card-image">

                  <img src="assets/img/age3animal.png" alt="animal flashcard">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3ANIMALSFLASHCARD">Play Flashcard</a>
                <br/><br/>

                <strong><u>Word list</u></strong>
                <table>
                  <tr><td>Bear		</td><td>Camel		    </td></tr>
                  <tr><td>Cat 		</td><td>Chicken		</td></tr>
                  <tr><td>Cow			</td><td>Dear			</td></tr>
                  <tr><td>Duck 		</td><td>Elephant		</td></tr>
                  <tr><td>Fox			</td><td>giraffe		</td></tr>
                  <tr><td>Goat		</td><td>Gorilla		</td></tr>
                  <tr><td>Hippo 		</td><td>Horse			</td></tr>
                  <tr><td>Leopard		</td><td>Lion			</td></tr>
                  <tr><td>Monkey		</td><td>Pig			</td></tr>
                  <tr><td>Rabbit		</td><td>Sheep			</td></tr>
                  <tr><td>Squirrel	</td><td>Tiger			</td></tr>
                  <tr><td>Wolf		</td><td>Zebra			</td></tr>
                </table>
                <br/>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card">

              <div class="card-content" style="text-align: center">
                <h3>Sports Flashcard</h3>
              </div>
              <a href="/flashcard/AGE3SPORTSFLASHCARD">
                <div class="card-image">

                  <img src="/assets/img/sports.png" alt="sports flashcard">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3SPORTSFLASHCARD">Play Flashcard</a>
                <br/><br/>

                <strong><u>Word list</u></strong>
                <table>
                  <tr><td>Badminton		  </td><td>Baseball		    </td></tr>
                  <tr><td>Basketball 		</td><td>Cycling		    </td></tr>
                  <tr><td>Football		  </td><td>Golf			      </td></tr>
                  <tr><td>Gymnastic 		</td><td>Ice skating    </td></tr>
                  <tr><td>Running			  </td><td>Scuba			    </td></tr>
                  <tr><td>diving			  </td><td>Skiing			    </td></tr>
                  <tr><td>Skateboarding </td><td>Swimming		    </td></tr>
                  <tr><td>Table			    </td><td>Tennis, Tennis	</td></tr>
                  <tr><td>Volleyball		</td><td>windsurfing	  </td></tr>
                </table>
                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            Pictorial Flashcards
          </blockquote></h2>
          <div class="col s12 m4 l4">
            <div class="card">

              <div class="card-content" style="text-align: center">
                <h3>Profession Flashcard</h3>
              </div>
              <a href="/flashcard/AGE3PROFESSIONFLASHCARD">
                <div class="card-image">

                  <img src="assets/img/profession.png" alt="profession flashcard">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3PROFESSIONFLASHCARD">Play Flashcard</a>
                <br/><br/>

                <strong><u>Word list</u></strong>
                <table>
                  <tr><td>Artist			</td><td>Astronaut		</td></tr>
                  <tr><td>Bus Driver 	</td><td>Chef			    </td></tr>
                  <tr><td>Dentist		  </td><td>Doctor			  </td></tr>
                  <tr><td>Farmer			</td><td>Fire fighter	</td></tr>
                  <tr><td>Fisherman   </td><td>				      </td></tr>
                </table>
                <br/>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card">

              <div class="card-content" style="text-align: center">
                <h3>Flower Flashcard</h3>
              </div>
              <a href="/flashcard/AGE3FLOWERSFLASHCARD">
                <div class="card-image">

                  <img src="/assets/img/age4flowers.png" alt="flower flashcard">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3FLOWERSFLASHCARD">Play Flashcard</a>
                <br/><br/>

                <strong><u>Word list</u></strong>
                <table>
                  <tr><td>Daffodil 	  </td><td>Dahlia		</td></tr>
                  <tr><td>Daisy		    </td><td>Iris		  </td></tr>
                  <tr><td>Lilac		    </td><td>Lily		  </td></tr>
                  <tr><td>Lotus		    </td><td>Orchid		</td></tr>
                  <tr><td>Pansy		    </td><td>Poppy		</td></tr>
                  <tr><td>Rose		    </td><td>Snowdrop	</td></tr>
                  <tr><td>Sunflower	  </td><td>Tulip		</td></tr>
                  <tr><td>Water lilly </td><td>			    </td></tr>
                </table>

                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Pictorial Flashcards
          </blockquote></h2>
          <div class="col s12 m4 l4">
            <div class="card">

              <div class="card-content" style="text-align: center">
                <h3>Emotion Flashcard</h3>
              </div>
              <a href="/flashcard/AGE3EMOTIONSFLASHCARD">
                <div class="card-image">

                  <img src="assets/img/emotion1.png" alt="emotion flashcard">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3EMOTIONSFLASHCARD">Play Flashcard</a>
                <br/><br/>

                <strong><u>Word list</u></strong>
                <table>
                  <tr><td>I am excited		</td><td>I am happy		</td></tr>
                  <tr><td>It's hot			  </td><td>I am nervous	</td></tr>
                  <tr><td>It's ok			    </td><td>I am sad 		</td></tr>
                  <tr><td>I am scared		  </td><td>I am sick		</td></tr>
                  <tr><td>I am tired      </td><td>     				</td></tr>
                </table>
                <br/>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card">

              <div class="card-content" style="text-align: center">
                <h3>Clothes Flashcard</h3>
              </div>
              <a href="/flashcard/AGE3CLOTHESFLASHCARD">
                <div class="card-image">

                  <img src="/assets/img/clothes.png" alt="clothes flashcard">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3CLOTHESFLASHCARD">Play Flashcard</a>
                <br/><br/>

                <strong><u>Word list</u></strong>
                <table>
                  <tr><td>Belt			  </td><td>Boots		</td></tr>
                  <tr><td>Cap			    </td><td>Dress		</td></tr>
                  <tr><td>Hat			    </td><td>Jeans		</td></tr>
                  <tr><td>Scarf			  </td><td>Shirt		</td></tr>
                  <tr><td>Shoes			  </td><td>Shorts		</td></tr>
                  <tr><td>Skirt			  </td><td>Socks		</td></tr>
                  <tr><td>Sunglasses	</td><td>Trousers	</td></tr>
                  <tr><td>T-Shirt     </td><td>			    </td></tr>
                </table>

                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Pictorial Flashcards
          </blockquote></h2>
          <div class="col s12 m4 l4">
            <div class="card">

              <div class="card-content" style="text-align: center">
                <h3>Fruits Flashcard</h3>
              </div>
              <a href="/flashcard/age2-fruit-flashcard">
                <div class="card-image">

                  <img src="assets/img/fruits.png" alt="fruits flashcard">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/age2-fruit-flashcard">Play Flashcard</a>
                <br/><br/>

                <strong><u>Word list</u></strong>
                <table>
                  <tr><td>Apple		</td><td>Apricot	</td></tr>
                  <tr><td>Avocado 	</td><td>Banana		</td></tr>
                  <tr><td>BlueBerry		</td><td>Coconut	</td></tr>
                  <tr><td>Cherry 	</td><td>Custard apple		</td></tr>
                  <tr><td>Grapes		</td><td>Guava		</td></tr>
                  <tr><td>Kiwi		</td><td>Lime		</td></tr>
                  <tr><td>Mango 		</td><td>Orange		</td></tr>
                  <tr><td>Papaya		</td><td>Peach		</td></tr>
                  <tr><td>Pear		</td><td>Pineapple	</td></tr>
                  <tr><td>Pomegranate	</td><td>Plum		</td></tr>
                  <tr><td>Strawberry	</td><td>Watermelon	</td></tr>
                </table>
                <br/>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card">

              <div class="card-content" style="text-align: center">
                <h3>Vegetable Flashcard</h3>
              </div>
              <a href="/flashcard/age2-vegetable-flashcard">
                <div class="card-image">

                  <img src="assets/img/vegetablebanner.png" alt="vegetable flashcard">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/age2-vegetable-flashcard">Play Flashcard</a>
                <br/><br/>

                <strong><u>Word list</u></strong>
                <table>
                  <tr><td>Bean		  </td><td>Beetroot	  </td></tr>
                  <tr><td>Broccoli 	</td><td>Capsicum		</td></tr>
                  <tr><td>Carrot		</td><td>Cauliflower</td></tr>
                  <tr><td>Celery 	  </td><td>Chili		  </td></tr>
                  <tr><td>Cucumber	</td><td>Eggplant		</td></tr>
                  <tr><td>Garlic		</td><td>Ginger		  </td></tr>
                  <tr><td>Lettuce 	</td><td>Mushroom		</td></tr>
                  <tr><td>Okra		  </td><td>Onion		  </td></tr>
                  <tr><td>Potato		</td><td>Pumpkin	  </td></tr>
                  <tr><td>Spinach	  </td><td>Plum		    </td></tr>
                </table>
                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            Pictorial Flashcards
          </blockquote></h2>
          <div class="col s12 m4 l4">
            <div class="card">

              <div class="card-content" style="text-align: center">
                <h3>Gesture Flashcard</h3>
              </div>
              <a href="/flashcard/AGE3GESTUREFLASHCARD">
                <div class="card-image">

                  <img src="assets/img/age3gesture.png" alt="gesture flashcard">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3GESTUREFLASHCARD">Play Flashcard</a>
                <br/><br/>

                <strong><u>Word list</u></strong>
                <table>
                  <tr><td>I am angry				</td><td>	Call me			</td></tr>
                  <tr><td>Don't know		    </td><td>	Follow me		</td></tr>
                  <tr><td>Good luck			    </td><td>	Great job		</td></tr>
                  <tr><td>Hello				      </td><td>	High five 	</td></tr>
                  <tr><td>I have an idea	  </td><td>	Hooray			</td></tr>
                  <tr><td>I love you		    </td><td>	Hmmm			  </td></tr>
                  <tr><td>I am bored		    </td><td>	Look			  </td></tr>
                  <tr><td>I am scared		    </td><td>	Loud			  </td></tr>
                  <tr><td>Me				        </td><td>	Nice meeting</td></tr>
                  <tr><td>No				        </td><td>	Oh no			  </td></tr>
                  <tr><td>Perfect			      </td><td>	Please			</td></tr>
                  <tr><td>Shhh				      </td><td>	Stay away		</td></tr>
                  <tr><td>Stop				      </td><td>	Well done		</td></tr>
                  <tr><td>Yes				        </td><td>					    </td></tr>
                </table>
                <br/>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card">

              <div class="card-content" style="text-align: center">
                <h3>Clothes Flashcard</h3>
              </div>
              <a href="/flashcard/AGE3HOMEAPPLINCEFLASHCARD">
                <div class="card-image">

                  <img src="/assets/img/age3homeappliance.png" alt="home appliance flashcard">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3HOMEAPPLINCEFLASHCARD">Play Flashcard</a>
                <br/><br/>

                <strong><u>Word list</u></strong>
                <table>
                  <tr><td>Air Conditioner		</td><td>Blender	</td></tr>
                  <tr><td>Dishwasher			  </td><td>Fan		  </td></tr>
                  <tr><td>Food Processor		</td><td>Fridge		</td></tr>
                  <tr><td>Gasstove				  </td><td>Hairdryer</td></tr>
                  <tr><td>Washing Machine		</td><td>Juicer		</td></tr>
                  <tr><td>Microwave				  </td><td>Mixer		</td></tr>
                  <tr><td>Sandwich Maker		</td><td>Toaster	</td></tr>
                  <tr><td>Vacuum Cleaner		</td><td>Iron		  </td></tr>
                </table>

                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Pictorial Flashcards
          </blockquote></h2>
          <div class="col s12 m4 l4">
            <div class="card">

              <div class="card-content" style="text-align: center">
                <h3>Public Places Flashcard</h3>
              </div>
              <a href="/flashcard/AGE3PLACESFLASHCARD">
                <div class="card-image">

                  <img src="assets/img/places.png" alt="public places flashcard">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3PLACESFLASHCARD">Play Flashcard</a>
                <br/><br/>

                <strong><u>Word list</u></strong>
                <table>
                  <tr><td>Airport			  </td><td>Amusement Park		</td></tr>
                  <tr><td>Bakery				</td><td>Bank				      </td></tr>
                  <tr><td>Bookstore			</td><td>Bus Stop			    </td></tr>
                  <tr><td>Cafe				  </td><td>Church				    </td></tr>
                  <tr><td>Cinema				</td><td>Clothing Store		</td></tr>
                  <tr><td>Factory			  </td><td>Farm				      </td></tr>
                  <tr><td>Fire Station	</td><td>Gas Station		  </td></tr>
                  <tr><td>Hospital			</td><td>Hotel				    </td></tr>
                  <tr><td>Library			  </td><td>Museum				    </td></tr>
                  <tr><td>Park				  </td><td>Police station		</td></tr>
                  <tr><td>Restaurant		</td><td>School				    </td></tr>
                  <tr><td>Supermarket		</td><td>Swimming Pool		</td></tr>
                  <tr><td>Theater			  </td><td>Train station		</td></tr>
                  <tr><td>Zoo				    </td><td>					        </td></tr>
                </table>
                <br/>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card">

              <div class="card-content" style="text-align: center">
                <h3>Proposition Flashcard</h3>
              </div>
              <a href="/flashcard/AGE4PREPOSITIONFLASHCARDS">
                <div class="card-image">

                  <img src="/assets/img/preposition.png" alt="preposition flashcard">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE4PREPOSITIONFLASHCARDS">Play Flashcard</a>
                <br/><br/>

                <strong><u>Word list</u></strong>
                <table>
                  <tr><td>Above			  	</td><td>Behind	</td></tr>
                  <tr><td>Below			  	</td><td>Beside	</td></tr>
                  <tr><td>Between		  	</td><td>In			</td></tr>
                  <tr><td>In front of		</td><td>Into		</td></tr>
                  <tr><td>Near 				  </td><td>On			</td></tr>
                  <tr><td>Out of			  </td><td>Over		</td></tr>
                  <tr><td>Over				  </td><td>			  </td></tr>
                </table>

                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

