<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Emotions Flashcard</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/emotions.png"  class="offset-s3 responsive-img" alt="Emotions flashcard vocabulary for kids">
      </div>
      <div>
        <br/>
      </div>
      <div class="col s12 m10 l12 offset-s3">
                <span class="black-text">Parents should show the emotion flashcard
                to the child and make the sound in front of them. We should encourage kids to mimic the sound and recognize the emotion.
                <br/><br/>
                Parents should let child recognize the Emotions before telling them. Sometime, they may recognize
                incorrectly but with regular practise they will improve. <br/>
                <br/>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>
                </span>
      </div>
      <div>
        <br/>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Emotion Flashcards
          </blockquote></h2>
          <div class="col s12 m4 l4">
            <div class="card">
              <a href="/flashcard/AGE3EmotionsFLASHCARD">
                <div class="card-content" style="text-align: center">
                  Emotions<br/>
                </div>
                <div class="card-image">

                  <img src="assets/img/emotions.png" alt="emotion flashcard for age 1 to 4 years">

                </div>
              </a>
              <div class="card-content">
                <ul>
                  <li>
                    <strong>Age:</strong> 1 to 4 years<br/>
                  </li>
                  <li>
                    <strong>Description:</strong> Common emotions of human beings<br/>
                  </li>
                  <li>
                    <strong>Flashcard words:</strong>Excited, Happy, Hot, Nervous, OK, Sad, Scared, Sick, Tired<br/>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col s12 m4 l4">
            <div class="card">
              <a href="/flashcard/AGE3EMOJIEMOTIONFLASHCARD">
                <div class="card-content" style="text-align: center">
                  Emoji Emotions<br/>
                </div>
                <div class="card-image">

                  <img src="assets/img/adoring.png" alt="Emoji emotion flashcard for age 1 to 4 years">

                </div>
              </a>
              <div class="card-content">
                <ul>
                  <li>
                    <strong>Age:</strong> 1 to 4 years<br/>
                  </li>
                  <li>
                    <strong>Description:</strong> Common emoji emotions used on devices<br/>
                  </li>
                  <li>
                    <strong>Flashcard words:</strong>Excited, Happy, Hot, Nervous, OK, Sad, Scared, Sick, Tired<br/>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>



