<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Clothes Flashcard</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/clothes.png"  class="offset-s3 responsive-img" alt="images of Clothes flashcard">
      </div>
      <div>
        <br/>
      </div>
      <div class="col s12 m10 l12 offset-s3">
                <span class="black-text">
                  Clothes make us look good. It protects us from extreme <a href="/weather-flashcard">weather</a> conditions.
                  It helps us to maintain hygiene. Clothes can be classified in different
                  ways based on the material, season, culture, country, occasion.
                  We have covered different variety of clothes in <a href="/clothes-flashcard">clothes flashcard</a>.

                  <p>We have decided to classify the clothes on the basis of occasion.</p>
                    <ol><li>
                      <strong>Business wear:</strong> Business attire is usually worn in a corporate environment.
                      It consists of Shirt, Pant/ Shirt, Suit, Tie, leather shoes etc.
                    </li><li>
                      <strong>Party wear:</strong> Party wear is usually worn in business parties, functions and marriages.
                      Men wear bow ties, black ties and suits/tuxedos. Women wear long gowns, dresses.
                    </li><li>
                      <strong>Formal wear:</strong> Formal clothes are usually worn in offices,
                      functions, dinners. It consists of Shirt, Pant/ Shirt, jacket, cardigan, Suit, leather shoes etc.
                    </li><li>
                      <strong>Casual wear:</strong> Casual clothes are worn in day to day life.
                      It consists of T-shirts, shorts, cotton dresses, jeans, skirts, sandals etc.
                    </li><li>
                      <strong>Uniform:</strong> Uniform is a special clothing worn by
                      a set of people like soldiers, doctors, students, astronauts, pilots etc.

                    </li></ol>

                  <p>We change our clothes according to the <a href="/weather-flashcard">weather</a>. We prefer light
                    <a href="/colors-flashcard">color</a> and short clothes, like T-shirt, shorts,  in summer whereas
                    dark color and full length clothes in winters, like jacket, cover coat.
                    On the other hand, our ancestors used to wear <a href="/animal-flashcard">animal</a> skin to protect
                    from harsh weather conditions.</p>

                  <p>The trend of clothes is driven by the fashion industry.
                    Designers, stylish and <a href="/professions-flashcard">professionals</a> work hard to bring
                    new products every year. They not only design party wear
                    clothes but uniforms for professionals.  </p>

                  <p>Surprisingly, the astronauts' clothes are also designed by fashion
                    designers with top notch technology. It protects astronauts in
                    <a href="/flashcard/science-spaceandrocket-flashcard">rocket and space</a> journeys.
                    Primarily, astronauts' suits consist of oxygen cylinders, gloves, suits and shoes.</p>

                  <p>There is a big market of export and import of clothes. It is manufactured at
                    one place and transported to many <a href="/flashcard/AGE3COUNTRYNAMEWITHFLAGFLASHCARD">countries</a>. It helps to provide economical
                    clothes and boosts employment to many people. </p>


                  <h3>How to use this flashcard?</h3>
                  <p>Parents should show the clothes flashcard to the child and
                    make the sound in front of them. We should encourage kids to mimic
                    the sound and recognize the clothe.</p>

                  <p>Parents should let child recognize the clothes before telling them.
                    Sometime, they may recognize incorrectly but with regular
                    practise they will improve. </p>
                  <p>Continuous practise of the flashcard may help to develop
                    speech or improve speech in children. </p>

                   <h3>Speech Development</h3>
                    <p>You can check the progress of speech development of your
                      child <a href="/speech-development">here</a>.</p>
                </span>
      </div>
      <div>
        <br/>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Clothes Flashcards
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE3CLOTHESFLASHCARD">
                <img src="assets/img/clothes.png"  align="center" class="offset-s3 responsive-img"
                     alt="pictures of different type of clothes flashcard"></a></div>

            <div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE3CLOTHESFLASHCARD">
               Different type of Clothes</a></span> <br/>

              <ul>
                <li>
                  <strong>Age:</strong> 1 to 4 years<br/>
                </li>
                <li>
                  <strong>Description:</strong> Different type of Clothes<br/>
                </li>
                <li>
                  <strong>Flashcard words:</strong>
                  <table>
                    <tr>
                      <td>
                        Belt
                      </td>
                      <td>
                        Boots
                      </td>
                      <td>
                        Cap
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Dress
                      </td>
                      <td>
                        Hat
                      </td>
                      <td>
                        Jeans
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Scarf
                      </td>
                      <td>
                        Shirt
                      </td>
                      <td>
                        Shoes
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Shorts
                      </td>
                      <td>
                        Skirt
                      </td>
                      <td>
                        Socks
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Sunglasses
                    </td>
                      <td>
                        Trousers
                      </td>
                      <td>
                        T-Shirt
                      </td>
                    </tr>
                  </table>
                  <br/>
                </li>
              </ul>
              <div>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/flashcard/AGE3CLOTHESFLASHCARD">Play Clothes Flashcards</a><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





    </div>
  </div>



