
<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div class="heading">
        <h1 class="heading-alignment">Speech Flashcards for Toddlers</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/speech-flashcards-toddlers.png"  class="offset-s3 responsive-img" alt="SmartKids flashcards banner">
      </div>


      <div>
        <h2><blockquote>
          My first words series Flashcards
        </blockquote></h2>
        <div class="row">

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/age1-myfirstword1-flashcard">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">My first 25 words (Part-1)</span><br/>

                </div>
                <div class="card-image">

                  <img src="assets/img/myFirstWordsBanner.png" alt="my first 25 words flashcards for baby">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/age1-myfirstword1-flashcard">Play Flashcard</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/age1-myfirstword2-flashcard">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">My first 25 words (Part-2)</span><br/>

                </div>
                <div class="card-image">

                  <img src="assets/img/myfirstword2.png" alt="my next 25 words flashcards for baby">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/myfirstword-25plus-flashcard">Play Flashcard</a>
              </div>
            </div>
          </div>

          <!--<div class="col s12 m3 l3">-->
          <!--<div class="card">-->
          <!--<a href="/flashcard/AGE3FIRST50WORDSFLASHCARD">-->
          <!--<div class="card-content">-->
          <!--<span class="card-title activator grey-text text-darken-4">My first 50 words</span><br/>-->

          <!--</div>-->
          <!--<div class="card-image">-->

          <!--<img src="assets/img/50words.png" alt="my first 50 words speech flashcards for toddler">-->

          <!--</div>-->
          <!--</a>-->
          <!--&lt;!&ndash;<div class="card-content">&ndash;&gt;-->
          <!--&lt;!&ndash;<p>I am a very simple card. I am good at containing small bits of information.&ndash;&gt;-->
          <!--&lt;!&ndash;I am convenient because I require little markup to use effectively.</p>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--<div style="text-align: center">-->
          <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->


        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            Most Popular Flashcards
          </blockquote></h2>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3ALPHABETUPPERFLASHCARD?order=true">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Alphabets</span><br/>

                </div>
                <div class="card-image">

                  <img src="assets/img/age3alphabet.png" alt="ABC Alphabet speech flashcards for toddler">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3ALPHABETUPPERFLASHCARD?order=true">Play Flashcards</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3NUMBERSFLASHCARD?order=true">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Number</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/age3numbers.png" alt="123 Number speech flashcards for toddler">

                </div>
              </a>

              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3NUMBERSFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>




          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3FRUITSFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Fruit</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/age3fruit.png" alt="fruits speech flashcards for toddler">

                </div>
              </a>

              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3FRUITSFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3VEGETABLEFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Vegetables</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/age3vegetable.png" alt="vegetable speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3VEGETABLEFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--//Row2-->
      <div>
        <div class="row">
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3ANIMALSFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Animals</span><br/>

                </div>
                <div class="card-image">

                  <img src="assets/img/age3animal.png" alt="animal speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3ANIMALSFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3TRANSPORTATIONFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Transportation</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/age3transportation.png" alt="transportation speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3TRANSPORTATIONFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>




          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3WEATHERWORDSFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Weather</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/age3weather.png" alt="weather speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3WEATHERWORDSFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3SHAPESFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Shapes</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/age3shapes.png" alt="shapes speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3SHAPESFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--//Row3-->
      <div>
        <div class="row">
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3COLORFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Colors</span><br/>

                </div>
                <div class="card-image">

                  <img src="assets/img/age3color.png" alt="colors speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3COLORFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3HOMEAPPLINCEFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Appliances</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/age3homeappliance.png" alt="home appliance speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3HOMEAPPLINCEFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>




          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3SPORTSFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Sports</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/sports.png" alt="sports speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3SPORTSFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3FLOWERSFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Flowers</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/age4flowers.png" alt="flowers speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3FLOWERSFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--//Row3.1-->
      <div>
        <div class="row">
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3CLOTHESFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Clothes</span><br/>

                </div>
                <div class="card-image">

                  <img src="assets/img/clothes.png" alt="clothes speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3CLOTHESFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3EMOTIONSFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Emotions</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/emotions.png" alt="Emotion speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3EMOTIONSFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>




          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3PROFESSIONFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Professions</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/profession.png" alt="Profession speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3PROFESSIONFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3COUNTINGFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Counting</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/age3counting.png" alt="counting speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3COUNTINGFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--//Row3.2-->
      <div>
        <div class="row">
          <!--<div class="col s12 m3 l3">-->
          <!--<div class="card">-->
          <!--&lt;!&ndash;<a href="/flashcard/AGE3NUMBERSFLASHCARD">&ndash;&gt;-->
          <!--<div class="card-content">-->
          <!--<span class="card-title activator grey-text text-darken-4">School</span><br/>-->

          <!--</div>-->
          <!--<div class="card-image">-->

          <!--<img src="/assets/img/school.png" alt="School speech flashcards for toddler">-->

          <!--</div>-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="card-content">&ndash;&gt;-->
          <!--&lt;!&ndash;<p>I am a very simple card. I am good at containing small bits of information.&ndash;&gt;-->
          <!--&lt;!&ndash;I am convenient because I require little markup to use effectively.</p>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--<div style="text-align: center">-->
          <!--<a href="/school-flashcard">More Flashcards</a>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3PLACESFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Places</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/places.png" alt="public places speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3PLACESFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3EMOJIEMOTIONFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Emoji Emotions</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/adoring.png" alt="Emoji emotion speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3EMOJIEMOTIONFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--//Row3.3-->
      <!--<div>-->
      <!--<h2><blockquote>-->
      <!--Emotion Flashcards-->
      <!--</blockquote></h2>-->
      <!--<div class="row">-->
      <!--<div class="col s12 m3 l3">-->
      <!--<div class="card">-->
      <!--<a href="/flashcard/AGE3EMOTIONSFLASHCARD">-->
      <!--<div class="card-content">-->
      <!--<span class="card-title activator grey-text text-darken-4">Emotions</span><br/>-->

      <!--</div>-->
      <!--<div class="card-image">-->

      <!--<img src="/assets/img/emotions.png" alt="Emotions speech flashcards for toddler">-->

      <!--</div>-->
      <!--</a>-->
      <!--&lt;!&ndash;<div class="card-content">&ndash;&gt;-->
      <!--&lt;!&ndash;<p>I am a very simple card. I am good at containing small bits of information.&ndash;&gt;-->
      <!--&lt;!&ndash;I am convenient because I require little markup to use effectively.</p>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--<div class="card-content" style="text-align: center">-->
      <!--&lt;!&ndash;<a href="/age1-vocabulary-flashcards">More Flashcards</a>&ndash;&gt;-->
      <!--<a class="waves-effect waves-light btn"-->
      <!--href="/flashcard/AGE3EMOTIONSFLASHCARD">Play Flashcard</a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="col s12 m3 l3">-->
      <!--<div class="card">-->
      <!--<a href="/flashcard/AGE3EMOJIEMOTIONFLASHCARD">-->
      <!--<div class="card-content">-->
      <!--<span class="card-title activator grey-text text-darken-4">Emoji Emotions</span><br/>-->

      <!--</div>-->
      <!--<div class="card-image">-->

      <!--<img src="/assets/img/adoring.png" alt="Emoji Emotion speech flashcards for toddler">-->

      <!--</div>-->
      <!--</a>-->
      <!--&lt;!&ndash;<div class="card-content">&ndash;&gt;-->
      <!--&lt;!&ndash;<p>I am a very simple card. I am good at containing small bits of information.&ndash;&gt;-->
      <!--&lt;!&ndash;I am convenient because I require little markup to use effectively.</p>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--<div class="card-content" style="text-align: center">-->
      <!--&lt;!&ndash;<a href="/age1-vocabulary-flashcards">More Flashcards</a>&ndash;&gt;-->
      <!--<a class="waves-effect waves-light btn"-->
      <!--href="/flashcard/AGE3EMOJIEMOTIONFLASHCARD">Play Flashcard</a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->


      <div>
        <h2><blockquote>
          Actions and Activities Flashcards
        </blockquote></h2>
        <div class="row">
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3ACTIONFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Actions</span><br/>

                </div>
                <div class="card-image">

                  <img src="assets/img/actions.png" alt="action speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3ACTIONFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3GESTUREFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Gestures</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/age3gesture.png" alt="gesture speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3GESTUREFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>


          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3ACTIVITYFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Activities</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/activities.png" alt="activities speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3ACTIVITYFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3VERBFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Verbs</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/verb.png" alt="verb speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3VERBFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--//Row4.1-->

      <div>
        <h2><blockquote>
          House Flashcards
        </blockquote></h2>
        <div class="row">
          <div class="col s12 m3 l3">
            <div class="card disabled">
              <a href="/flashcard/AGE4HOUSEFLASHCARDS">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">House layout</span><br/>

                </div>
                <div class="card-image">

                  <img src="assets/img/house.png" alt="house speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE4HOUSEFLASHCARDS">Play Flashcard</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE4BEDROOMFLASHCARDS">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Bedroom</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/bedroom.png" alt="bedroom speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE4BEDROOMFLASHCARDS">Play Flashcard</a>
              </div>
            </div>
          </div>




          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE4BATHROOMFLASHCARDS">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Bathroom</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/bathroom.png" alt="bathroom speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE4BATHROOMFLASHCARDS">Play Flashcard</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE4KITCHENFLASHCARDS">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Kitchen</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/kitchen.png" alt="kitchen speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE4KITCHENFLASHCARDS">Play Flashcard</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            Featured Flashcards
          </blockquote></h2>
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/peppapigandfriends-flashcard">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Peppa Pig</span><br/>

                </div>
                <div class="card-image">

                  <img src="assets/img/peppapigthumbnailmain.png" alt="Peppa Pig speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn" href="/peppapig-flashcard">Flashcards</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--//Row5-->
      <div>
        <div class="row">
          <blockquote><h2>
            Agewise Flashcards
          </h2></blockquote>
          <div class="col s12 m3 l3">
            <div class="card">
              <!--<a href="/flashcard/AGE3NUMBERSFLASHCARD">-->
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Age 1</span><br/>

              </div>
              <div class="card-image">

                <img src="assets/img/year1.png" alt="year 1 speech flashcards for toddler">

              </div>
              <!--</a>-->
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/age1-vocabulary-flashcards">Flashcards</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <!--<a href="/flashcard/AGE3NUMBERSFLASHCARD">-->
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Age 2</span><br/>

              </div>
              <div class="card-image">
                <a href="/age2-vocabulary-flashcards">
                  <img src="/assets/img/year2.png" alt="year 2 speech flashcards for toddler">
                </a>
              </div>
              <!--</a>-->
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn" href="/age2-vocabulary-flashcards">Flashcards</a>
              </div>
            </div>
          </div>




          <div class="col s12 m3 l3">
            <div class="card">
              <!--<a href="/flashcard/AGE3NUMBERSFLASHCARD">-->
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Age 3</span><br/>

              </div>
              <div class="card-image">
                <a href="/age3-vocabulary-flashcards">
                  <img src="/assets/img/year3.png" alt="year 3 speech flashcards for toddler">
                </a>
              </div>
              <!--</a>-->
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn" href="/age3-vocabulary-flashcards">Flashcards</a>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div>
        <div class="row">
          <blockquote><h2>
            Grammar Flashcards
          </h2></blockquote>
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE4PREPOSITIONFLASHCARDS">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Preposition</span><br/>

                </div>
                <div class="card-image">

                  <img src="assets/img/preposition.png" alt="Preposition speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE4PREPOSITIONFLASHCARDS">Play Flashcard</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--//Row6-->
      <div>
        <div class="row">
          <blockquote><h2>
            World Flashcards
          </h2></blockquote>
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3COUNTRYNAMEWITHFLAGFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Flags</span><br/>

                </div>
                <div class="card-image">

                  <img src="assets/img/flag.png">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3COUNTRYNAMEWITHFLAGFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE4WORLDPLACESFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">World Places</span><br/>

                </div>
                <div class="card-image">

                  <img src="assets/img/worldplaces.png" alt="world places speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE4WORLDPLACESFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>



        </div>
      </div>



      <div>
        <div class="row">
          <h2><blockquote>
            Science Flashcards
          </blockquote></h2>
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/science-spaceandrocket-flashcard">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Space and Rocket</span><br/>

                </div>
                <div class="card-image">

                  <img src="assets/img/spaceRocketthumbnail.png" alt="science space and rocket speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/science-spaceandrocket-flashcard">Play Flashcard</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="row">
          <blockquote><h2>
            Mathematics Flashcards
          </h2></blockquote>
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3NUMBERSFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Number</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/age3numbers.png" alt="123 Number speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3NUMBERSFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/AGE3COUNTINGFLASHCARD">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Counting</span><br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/age3counting.png" alt="counting speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div class="card-content" style="text-align: center">
                <!--<a href="/age1-vocabulary-flashcards">More Flashcards</a>-->
                <a class="waves-effect waves-light btn"
                   href="/flashcard/AGE3COUNTINGFLASHCARD">Play Flashcard</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/addition-flashcard">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Addition</span><br/>

                </div>
                <div class="card-image">

                  <img src="assets/img/additionThumbnail.png" alt="quick n easy addition speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div style="text-align: center">
                <br/>  <!--<a href="/house-flashcard">More Flashcards</a>-->
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/multiplication-flashcard">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Multiplication</span><br/>

                </div>
                <div class="card-image">

                  <img src="assets/img/multiplicationThumbnail.png" alt="quick n easy multiplication speech flashcards for toddler">

                </div>
              </a>
              <!--<div class="card-content">-->
              <!--<p>I am a very simple card. I am good at containing small bits of information.-->
              <!--I am convenient because I require little markup to use effectively.</p>-->
              <!--</div>-->
              <div style="text-align: center">
                <br/>  <!--<a href="/house-flashcard">More Flashcards</a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m10 l12 offset-s3">
        <h2><blockquote>What is the SmartKids flashcards?</blockquote></h2>
        <p>SmartKids flashcards are free online accessible digital speech flashcards for toddlers.
          You can use it anytime, anywhere and on any device without registration.</p>
        <h2>Features:</h2>
        <ol><li>
          <strong>Free:</strong> We don’t charge anything when you use speech flashcards.
          You can use any flashcard any number of times for free.<br/>
        </li><li>
          <strong>Online accessible:</strong> You can access the speech flashcards over the
          internet with mobile data, wifi or hotspot.<br/>
        </li><li>
          <strong>Digital flashcards:</strong> Digital cards are easy to manage. It
          doesn’t face wear and tear. Simply just a few clicks away.<br/>
        </li><li>
          <strong>Anywhere, Anytime and Any device:</strong> You can use the digital speech flashcard
          anywhere at home or outside, anytime 24x7 day or night, any device on mobile, Ipad or laptop.<br/>
        </li></ol>

        <h2>Benefits:</h2>
        <ol><li>
          <strong>Simple:</strong> SmartKids speech flashcards are simple to use. It needs
          just a click to use it. <br/>
        </li><li>
          <strong>Start at Any age:</strong> We have vocabulary flashcards for all ages.
          Please select the appropriate flashcards for your kids.<br/>
        </li><li>
          <strong>No registration:</strong> SmartKids speech flashcards are accessible without registration.
          It makes easy and quick access to speech flashcards.
          Kids need not to enter login details before use.
          <br/>
        </li><li>
          <strong>Free:</strong> SmartKids speech flashcards are free for all. We don’t charge
          anything from anybody for speech flashcards available on this website.<br/>
        </li><li>
          <strong>Photographic:</strong> SmartKids speech flashcards help in developing photographic
          memory, speed reading, and mathematics. <br/>
        </li></ol>
        <h2><blockquote>Flashcards to improve speech development:</blockquote></h2><br/>
        <p>We have a special collection of digital flashcards for children of all age.
          It covers the most used words at any age. It's aligned with the rhymes
          and reading books for this age group.  We have designed advanced versions of flashcards for age 3.
          It covers more words in pictorial flashcards compared to age 2 like
          <a href="/fruit-flashcard">fruit flashcards</a>, <a href="/animal-flashcard">animal flashcards</a>,
          <a href="/transportation-flashcard">transportation flashcards</a>, <a href="/vegetable-flashcard">vegetable flashcards</a>,
          <a href="/flowers-flashcard">flower flashcard</a>, food flashcards.</p>

        <p>You may refer to  <a href="/age1-vocabulary-flashcards"> age 1 speech flashcards</a> and
          <a href="/age2-vocabulary-flashcards"> age 2 speech flashcards</a>
          and <a href="/age3-vocabulary-flashcards"> age 3 speech flashcards</a>.
          It consists of special video and pictorial speech flashcards which
          kids enjoy. It covers words from my first words list and age 2 word list.
          It helps kids to pick up initial words to start communication. </p>

        <p>Parents can use the video speech flashcards to
          motivate children to speak the words. Regular
          practice helps children to recognize the pictures
          in the digital speech flashcard.
          Please refer to how to use digital flashcard FAQs
          for more information.</p>

        <a class="waves-effect waves-light btn" href="/speech-development">read more</a> <br/>

      </div>

      <div class="row">
        <h2><blockquote>
          FAQs: Frequently asked questions on speech flashcards
        </blockquote></h2>
        <div class="col s12 m12 l12">
          <div class="card">
            <div class="card-content">
              <p><strong>What is a flashcard?</strong><br/>
                A flashcard is a way to learn or memorize information which could be
                vocabulary, numbers or formulas. Pictorial speech flashcards are very useful
                for kids as it helps to focus and makes an impression in the neuron cells
                of the brain. Speech flashcards can be physical paper cards or online digital cards.
              </p><br/><br/>

              <p><strong>What are digital speech flashcards?</strong><br/>
                Digital speech flashcards are software based cards. It may be available over the
                internet and can be used in any device such as phone, ipad or laptop.
                It is easy to use and maintain. It's free from wear and tear.
              </p><br/><br/>

              <p><strong>How can I access Digital speech flashcards?</strong><br/>
                Digital speech flashcards are usually available over the internet.
                It can be accessed via mobile data, wifi, hotspot or wireline internet.
              </p><br/><br/>

              <p><strong>How can we use speech flashcards?</strong><br/>
                Parents should show the speech flashcards to the kids and help
                them to recognizes first few times by making correct pronunciation.
                We should encourage kids to mimic the sound and recognize them. <br/>
                After some practice sessions, parents should let the child recognize the
                flashcard before telling them. Sometimes, they may recognize incorrectly but
                with regular practice they will improve.
              </p><br/><br/>

              <p><strong>Which age is suitable for a flashcard?</strong><br/>
                We have vocabulary flashcards for all ages. It depends on the user’s needs
                and age. If you need specific flashcards which are not available right now,
                please look for on demand flashcards. We will help you with the new flashcard.
              </p><br/><br/>

              <p><strong>Do flashcards help in speech therapy?
              </strong><br/>
                Parents can use the digital speech flashcards to motivate children to speak the words.
                Pictures and sounds help to remember the words. Parents should say the words loud
                and clear, it motivates children to imitate sounds of the words.<br/>

                Continuous practice of the flashcard may help to develop speech or improve
                speech in children.
              </p><br/><br/>

              <p><strong>How can I use speech flashcards while I am not at home?</strong><br/>
                Yes, anybody can use digital speech flashcards at home. You just need internet
                access to connect to our website.
              </p><br/><br/>

              <p><strong>Can I download speech flashcards?</strong><br/>
                No, currently we don’t support downloading speech flashcards but we are working on it.
              </p><br/><br/>

              <p><strong>What are flashcards on demand?</strong><br/>
                We are open to create new flashcards on user’s demand. You just need to fill
                the <a href="https://forms.gle/5Q4rdGE1NJ9iwKF86" target="_blank"> form </a> which helps us know what you need. If required we will contact you
                for further information. Its important to fill the correct information in the form.
              </p><br/><br/>

              <p><strong>Can I get flashcards on demand?</strong><br/>
                Yes, we can help you with new flashcards. You need to fill a
                <a href="https://forms.gle/5Q4rdGE1NJ9iwKF86" target="_blank"> form </a>which
                describes your requirements. After accessing, we will contact you. It may
                or may not cost you, it depends on the effort needed.
              </p><br/><br/>

              <p><strong>Do I need to pay for flashcards on demand?</strong><br/>
                There is no clear answer, it depends on the requirement. We create public
                and private flashcards. Public flashcards are available for all and free.
                Private flashcards are created for specific customers or organizations, it
                may not be free. It all depends on the requirement. If you need more
                information then please contact us.
              </p><br/><br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
