<div *ngIf="quizService.showSpinner" class="spiner">
  <img src="../../assets/img/loading.gif" >
</div>

<div class="row" *ngIf="quizService.qns && this.quizService.qnProgress != this.quizService.numberOfQuestions">
  <div class="col s12 m5 l3 offset-s2" >
    <!-- -->
    <div class="row progress-container" >
      <!-- -->
      <app-progressbar></app-progressbar>
    </div>
    <div class="card #cce0ff ">
      <div class="row" >
        <!-- -->
        <div class="" >
          <span class="card-title"><p>{{quizService.qnProgress+1}}.&nbsp;{{quizService.qns[quizService.qnProgress].qn}}</p></span>

        </div>

      </div>

      <div class="row" align="center">
        <!-- --><div class="card-action">
        <div *ngIf="quizService.qns[quizService.qnProgress].imageName!=null">
          <div class="col s12 m12 l12" style="margin: 0 auto" *ngIf="quizService.qns[quizService.qnProgress].imageName!=null">
            <img class="questionImage flashcard-next" src="../../assets/img/{{quizService.qns[quizService.qnProgress].imageName}}" alt="{{quizService.qns[quizService.qnProgress].qn}}" align="center" (click)="SkipQuestion()">
          </div>
        </div>
        <div *ngIf="quizService.qns[quizService.qnProgress].imageName==null">
          <div class="col s12 m12 l12" style="margin: 0 auto" *ngIf="quizService.qns[quizService.qnProgress].imageName==null">
            <h2 align="center" (click)="SkipQuestion()">{{quizService.qns[quizService.qnProgress].qn}}</h2>
          </div>
        </div>
        <div *ngIf="quizService.qns[quizService.qnProgress].imageName===null">
          <div class="col s12 m12 l12" style="margin: 0 auto" *ngIf="quizService.qns[quizService.qnProgress].imageName===null">
            <h3 align="center" (click)="SkipQuestion()">{{quizService.qns[quizService.qnProgress].qn}}</h3>
          </div>
        </div>


      </div>
      </div>

      <div class="row button-container" >
        <!-- -->
        <div class="row" [hidden] ="!quizService.isSubmitDisable">
          <div class="input-field col s12">

            <div class="col s3">
            <button class="btn-small button-control-flashcard" [hidden] ="isFirstFlashcard"
                    type="button" (click)="lastFlashcard()">
              <i class="Medium material-icons">navigate_before</i></button>
            </div>
            <div class="col s3">
              <button class="btn-small  button-control-flashcard"
                      type="button" (click)="autoPlay()">
                <i class="Medium material-icons" *ngIf="!isAutoPlay">play_circle_outline</i>
                <i class="Medium material-icons" *ngIf="isAutoPlay">pause_circle_outline</i></button>
            </div>
            <div class="col s3">
            <button class="btn-small  button-control-flashcard"
                    type="button" (click)="speak(quizService.qns[this.quizService.qnProgress].qn)">
              <i class="Medium material-icons">record_voice_over</i></button>
            </div>
            <div class="col s3">
            <button class="btn-small  button-control-flashcard"
                    type="button" (click)="nextFlashcard()">
              <i class="Medium material-icons">navigate_next</i></button>
            </div>
          </div>
        </div>
        <div class="row" [hidden] ="quizService.isSubmitDisable">
          <div class="input-field col s12">
            <button class="btn-large btn-submit-flashcard-done" type="button" (click)="submitQuiz(quizService.qnProgress+1)">Done</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
