<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Addition Flashcards</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/additionBanner.png"  class="offset-s3 responsive-img" alt="Age 18 months Speech Development">
      </div>
      <!--<div class="col s12 m10 l12 offset-s3">-->

        <!--<strong><h3>How to use a multiplication addition flashcard?</h3></strong>-->
            <!--Multiplication addition flashcard is self paced learning method. It consists of two modes:-->
            <!--<ol>-->
              <!--<li>-->
                <!--<strong>Learning Mode:</strong> Select the multiplication addition that you wish to-->
                 <!--learn. All the multiplication addition values are presented sequentially. This helps-->
                <!--to simplify the learning of the multiplication additions.-->
              <!--</li>-->
              <!--<li>-->
                <!--<strong>Practice Mode:</strong> Once you have learned the multiplication additions a-->
                <!--few times then you can test your learnings in practice mode. In this mode-->
                <!--multiplication addition is presented in practicemode order without showing the answer-->
                <!--first, you need to test yourself, if you need help then you can verify the-->
                <!--answer by a simple click.-->
              <!--</li>-->
            <!--</ol>-->

        <!--<br/><br/>-->
        <!--<strong><h3>Why is addition important?</h3></strong>-->
        <!--<p>Parents must remember mugging additions in their childhood. They might have-->
          <!--tried different ways to memorise it like chanting aloud, writing them out-->
          <!--to practice it.  Those were interesting days, it was hard to remember all-->
          <!--the multiplication additions at onces. It was not easy but multiplication additions-->
          <!--help to improve our memory and its  used everywhere. It is used in mathematics,-->
          <!--higher education, engineering studies, commerce studies, business and daily life.-->
        <!--</p>-->

        <!--<span class="black-text">-->
          <!--Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>-->
        <!--</span>-->
      <!--</div>-->


      <div>
        <div class="row">
          <h2><blockquote>
            Addition (without carry) Flashcards
          </blockquote></h2>
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/addition/1?carry=false">
                <div class="card-content" style="text-align: center">
                  Addition single digit (without carry)<br/>
                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/addition/1digitwithoutCarry.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years<br/>
                Description: Addition single digit (without carry)<br/>


                <a href="/flashcard/addition/1?carry=false&practicemode=true">Practice mode</a><br/>
              </div>
            </div>
          </div>


          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/addition/2?carry=false">
                <div class="card-content" style="text-align: center">
                  Addition double digit (without carry) <br/>

                </div>
                <div class="card-image">
                  <img src="/assets/img/flashCard/addition/2digitwithoutCarry.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Addition double digit (without carry)<br/>


                <a href="/flashcard/addition/2?carry=false&practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/addition/3?carry=false">
                <div class="card-content" style="text-align: center">
                  Addition three digit (without carry) <br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/addition/3digitwithoutCarry.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Addition three digit (without carry)<br/>


                <a href="/flashcard/addition/3?carry=false&practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/addition/4?carry=false">
                <div class="card-content" style="text-align: center">
                  Addition four digit (without carry)<br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/addition/4digitwithoutCarry.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Addition four digit(without carry)<br/>

                <a href="/flashcard/addition/4?carry=false&practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

        </div>
      </div>



      <div>
        <div class="row">
          <h2><blockquote>
            Addition (with carry) Flashcards
          </blockquote></h2>
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/addition/1?carry=true">
                <div class="card-content" style="text-align: center">
                  Addition single digit (with carry)<br/>
                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/addition/1digitwithCarry.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years<br/>
                Description: Addition single digit (with carry) <br/>


                <a href="/flashcard/addition/1?carry=true&practicemode=true">Practice mode</a><br/>
              </div>
            </div>
          </div>


          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/addition/2?carry=true&carry=true">
                <div class="card-content" style="text-align: center">
                  Addition double digit (with carry) <br/>

                </div>
                <div class="card-image">
                  <img src="/assets/img/flashCard/addition/2digitwithCarry.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Addition double digit (with carry) <br/>


                <a href="/flashcard/addition/2?carry=true&practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/addition/3?carry=true">
                <div class="card-content" style="text-align: center">
                  Addition three digit (with carry) <br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/addition/3digitwithCarry.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Addition three digit (with carry) <br/>


                <a href="/flashcard/addition/3?carry=true&practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/addition/4?carry=true">
                <div class="card-content" style="text-align: center">
                  Addition four digit (with carry)<br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/addition/4digitwithCarry.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Addition four digit (with carry) <br/>

                <a href="/flashcard/addition/4?carry=true&practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>



