<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Alphabet Flashcards</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/alphabetbanner.png"  class="offset-s3 responsive-img"
             alt="Alphabet flashcard for kids">
      </div>
      <div class="col s12 m10 l12 offset-s3">
      <span class="black-text">


        <p>Kids start recognising a few alphabets at around age 2.
          Initially, they start with just A, B, C or D but displaying an
          <a href="/flashcard/AGE2ALPHABETUPPERFLASHCARD?order=true">alphabet flashcard</a> helps to memorise all the letters comparatively
          quickly.</p>

        <p>Kids experience high development growth at an early age.
        The power of recognizing and memorising increases with new
        vocabulary. We should engage children to grasp more and more
          words by showing pictures of
          <a href="/vegetable-flashcard">vegetables</a>,
          <a href="/fruit-flashcard">fruits</a>,
          <a href="/animal-flashcard">animals</a>,
          <a href="/shapes-flashcard">shapes</a>,
          <a href="/transportation-flashcard">transportation</a>
          and <a href="/colors-flashcard">color</a> flashcards.</p>

        <p>Some alphabet’s sounds are catchy for kids like B, D, P, M
        as these are lip sounding alphabet. We can use some simple words
        with these alphabets like bus, car, baby, dog etc. You can find
          the easy words in <a href="/myfirstwords-flashcard">my first words</a>
          flashcard specially designed
        for early age. </p>

        <p>We have 26 alphabets in the English language, it's a big
        number for kids to remember. To solve this problem, each alphabet
        can be associated with an object or noun, it helps kids to memorise
          the alphabets. We can use <a href="flashcard/AGE3ALPHABETIMAGESFLASHCARD?order=true">alphabets with object</a> flashcards for practice.</p>

        <p>Some kids usually forget a few alphabets in between due to
        lack of focus or practice.  We have developed
          a <a href="flashcard/AGE2ALPHABETUPPERFLASHCARD">random order alphabet</a>
          flashcard for practice. It generates
        the alphabet in random order which helps to use cognitive mind.</p>



        <h3>How to use this flashcard?</h3>
        <p>Kids start saying some alphabets very quickly due the catchy sounds.
        They may not recognise all alphabets or the correct order in start. Parents should show the alphabet flashcard
        to the child and make the sound in front of them. We should encourage kids to mimic the sound and recognize the alphabets.
        </p>
        <p>Parents should let child recognize the alphabet before telling them. Sometime, they may recognize
          incorrectly but with regular practise they will improve. <br/>
        </p>
        <p>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>
        </p>

        <h3>Speech Development</h3>
        <p>You can check the progress of speech development of your child <a href="/speech-development">here</a>.</p>
      </span>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Alphabet (Uppercase) Flashcards
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE2ALPHABETUPPERFLASHCARD?order=true">
                <img src="assets/img/ABC-uppercase.png"  align="center" class="offset-s3 responsive-img"
                     alt="pictures of Uppercase alphabets flashcard"></a></div>

            <div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE2ALPHABETUPPERFLASHCARD?order=true">
                Alphabet (Uppercase) Flashcards</a></span> <br/>

              <ul>
                <li>
                  <strong>Age:</strong> 1 to 4 years<br/>
                </li>
                <li>
                  <strong>Description:</strong> Pictures of Alphabet in uppercase<br/>
                </li>
                <li>
                  <strong>Flashcard for following:</strong>
                  <table>
                    <tr>
                      <td>
                        A
                      </td>
                      <td>
                        B
                      </td>
                      <td>
                        C
                      </td>
                    </tr>

                    <tr>
                      <td>
                        D
                      </td>
                      <td>
                        E
                      </td>
                      <td>
                        F
                      </td>
                    </tr>
                    <tr>
                      <td>
                        G
                      </td>
                      <td>
                        H
                      </td>
                      <td>
                        I
                      </td>

                    </tr>
                    <tr>
                      <td>
                        J
                      </td>
                      <td>
                        K
                      </td>
                      <td>
                        L
                      </td>

                    </tr>
                    <tr>

                      <td>
                        M
                      </td>
                      <td>
                        N
                      </td><td>
                      O
                    </td>

                    </tr>
                    <tr>
                      <td>
                        P
                      </td>
                      <td>
                        Q
                      </td>
                      <td>
                        R
                      </td>

                    </tr>
                    <tr>

                      <td>
                        S
                      </td>
                      <td>
                        T
                      </td><td>
                      U
                    </td>

                    </tr>
                    <tr>
                      <td>
                        V
                      </td>
                      <td>
                        W
                      <td>
                        X
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Y
                      </td>
                      <td>
                        Z
                      </td>
                      <td>

                      </td>
                    </tr>
                  </table>
                  <br/>
                </li>
              </ul>
              <div>
                <div>
                  <a class="waves-effect waves-teal btn-flat"
                     href="/flashcard/AGE2ALPHABETUPPERFLASHCARD?order=true">Play Alphabet Flashcards</a><br/>
                </div>

                <div>
                  <a class="waves-effect waves-teal btn-flat"
                     href="/flashcard/AGE3ALPHABETIMAGESFLASHCARD?order=true">Play Alphabet Flashcards in random order</a><br/>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            Alphabet with Object Images Flashcard
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE3ALPHABETIMAGESFLASHCARD?order=true">
                <img src="/assets/img/flashCard/alphabet/alphabetImages0/A.png"
                     align="center" class="offset-s3 responsive-img"
                     alt="Alphabet with Object Images Flashcard"></a></div>

            <div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE3ALPHABETIMAGESFLASHCARD?order=true">
                Alphabet with Object Images Flashcard</a></span> <br/>

              <ul>
                <li>
                  <strong>Age:</strong> 1 to 4 years<br/>
                </li>
                <li>
                  <strong>Description:</strong> Pictures of Object and nouns with Alphabets<br/>
                </li>
                <li>
                  <strong>Flashcard for following:</strong>
                  <table>
                    <tr>
                      <td>
                        A-Apple
                      </td>
                      <td>
                        B-Bus
                      </td>
                      <td>
                        C-Crown
                      </td>
                    </tr>

                    <tr>
                      <td>
                        D-Dinosaur
                      </td>
                      <td>
                        E-Egg
                      </td>
                      <td>
                        F-Frog
                      </td>
                    </tr>
                    <tr>
                      <td>
                        G-Goblin
                      </td>
                      <td>
                        H-Helicopter
                      </td>
                      <td>
                        I-Iguana
                      </td>

                    </tr>
                    <tr>
                      <td>
                        J-Jam
                      </td>
                      <td>
                        K-King
                      </td>
                      <td>
                        L-Lolipop
                      </td>

                    </tr>
                    <tr>

                      <td>
                        M-Mushroom
                      </td>
                      <td>
                        N-Nut
                      </td><td>
                      O-Octopus
                    </td>

                    </tr>
                    <tr>
                      <td>
                        P-Pig
                      </td>
                      <td>
                        Q-Queen
                      </td>
                      <td>
                        R-Rainbow
                      </td>

                    </tr>
                    <tr>

                      <td>
                        S-Sun
                      </td>
                      <td>
                        T-Truck
                      </td>
                      <td>
                      U-Unicorn
                    </td>

                    </tr>
                    <tr>
                      <td>
                        V-Volcano
                      </td>
                      <td>
                        W-Watermelon
                      <td>
                        X-Xylophone
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Y-Yarn
                      </td>
                      <td>
                        Z-Zebra
                      </td>
                      <td>

                      </td>
                    </tr>
                  </table>
                  <br/>
                </li>
              </ul>
              <div>
                <div>
                  <a class="waves-effect waves-teal btn-flat"
                     href="/flashcard/AGE3ALPHABETIMAGESFLASHCARD?order=true">Play Alphabet Flashcards</a><br/>
                </div>

                <div>
                  <a class="waves-effect waves-teal btn-flat"
                     href="/flashcard/AGE3ALPHABETIMAGESFLASHCARD?order=true">Play Alphabet Flashcards in random order</a><br/>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
</div>



