<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Multiplication Table Flashcards</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/multiplicationBanner.png"  class="offset-s3 responsive-img"
             alt="Multiplication table flashcard">
      </div>
      <div class="col s12 m10 l12 offset-s3">

        <strong><h3>How to use a multiplication table flashcard?</h3></strong>
            Multiplication table flashcard is self paced learning method. It consists of two modes:
            <ol>
              <li>
                <strong>Learning Mode:</strong> Select the multiplication table that you wish to
                learn. All the multiplication table values are presented sequentially. This helps
                to simplify the learning of the multiplication tables.
              </li>
              <li>
                <strong>Practice Mode:</strong> Once you have learned the multiplication tables a
                few times then you can test your learnings in practice mode. In this mode
                multiplication table is presented in practicemode order without showing the answer
                first, you need to test yourself, if you need help then you can verify the
                answer by a simple click.
              </li>
            </ol>

        <br/><br/>
        <strong><h3>Why are Multiplication Tables important?</h3></strong>
        <p>Parents must remember mugging tables in their childhood. They might have
          tried different ways to memorise it like chanting aloud, writing them out
          to practice it.  Those were interesting days, it was hard to remember all
          the multiplication tables at onces. It was not easy but multiplication tables
          help to improve our memory and its  used everywhere. It is used in mathematics,
          higher education, engineering studies, commerce studies, business and daily life.
        </p>

        <span class="black-text">
          Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>
        </span>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Multiplication Tables (10 X 10) Flashcards
          </blockquote></h2>
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/1">
                <div class="card-content" style="text-align: center">
                  1 X 10 Table <br/>
                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof1.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years<br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>


                <a href="/flashcard/table/1?practicemode=true">Practice mode</a><br/>
              </div>
            </div>
          </div>


          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/2">
                <div class="card-content" style="text-align: center">
                  2 X 10 Table <br/>

                </div>
                <div class="card-image">
                  <img src="/assets/img/flashCard/multiplication/tableof2.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>


                <a href="/flashcard/table/2?practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/3">
                <div class="card-content" style="text-align: center">
                  3 X 10 Table <br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof3.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/3?practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/4">
                <div class="card-content" style="text-align: center">
                  4 X 10 Table<br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof4.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/4?practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

        </div>
      </div>


      <div>
        <div class="row">
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/5">
                <div class="card-content" style="text-align: center">
                  5 X 10 Table <br/>
                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof5.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years<br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/5?practicemode=true">Practice mode</a><br/>
              </div>
            </div>
          </div>


          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/6">
                <div class="card-content" style="text-align: center">
                  6 X 10 Table <br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof6.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/6?practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/7">
                <div class="card-content" style="text-align: center">
                  7 X 10 Table <br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof7.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/7?practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/8">
                <div class="card-content" style="text-align: center">
                  8 X 10 Table<br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof8.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/8?practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

        </div>
      </div>

      <div>
        <div class="row">
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/9">
                <div class="card-content" style="text-align: center">
                  9 X 10 Table <br/>
                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof9.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years<br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/9?practicemode=true">Practice mode</a><br/>
              </div>
            </div>
          </div>


          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/10">
                <div class="card-content" style="text-align: center">
                  10 X 10 Table <br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof10.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/10?practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>


        </div>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Multiplication Table (20 X 10) Flashcards
          </blockquote></h2>
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/11">
                <div class="card-content" style="text-align: center">
                  11 X 10 Table <br/>
                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof11.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years<br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/11?practicemode=true">Practice mode</a><br/>
              </div>
            </div>
          </div>


          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/12">
                <div class="card-content" style="text-align: center">
                  12 X 10 Table <br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof12.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/12?practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/13">
                <div class="card-content" style="text-align: center">
                  13 X 10 Table <br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof13.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/13?practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/14">
                <div class="card-content" style="text-align: center">
                  14 X 10 Table<br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof14.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/14?practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

        </div>
      </div>


      <div>
        <div class="row">
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/15">
                <div class="card-content" style="text-align: center">
                  15 X 10 Table <br/>
                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof15.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years<br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/15?practicemode=true">Practice mode</a><br/>
              </div>
            </div>
          </div>


          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/16">
                <div class="card-content" style="text-align: center">
                  16 X 10 Table <br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof16.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/16?practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/17">
                <div class="card-content" style="text-align: center">
                  17 X 10 Table <br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof17.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/17?practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/18">
                <div class="card-content" style="text-align: center">
                  18 X 10 Table<br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof18.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/18?practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>

        </div>
      </div>

      <div>
        <div class="row">
          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/19">
                <div class="card-content" style="text-align: center">
                  19 X 10 Table <br/>
                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof19.png">

                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years<br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/19?practicemode=true">Practice mode</a><br/>
              </div>
            </div>
          </div>


          <div class="col s12 m3 l3">
            <div class="card">
              <a href="/flashcard/table/20">
                <div class="card-content" style="text-align: center">
                  20 X 10 Table <br/>

                </div>
                <div class="card-image">

                  <img src="/assets/img/flashCard/multiplication/tableof20.png">
                </div>
              </a>
              <div class="card-content">
                Age: 5 to 15 years <br/>
                Description: Mathematics multiplication table to improve the skill of fast calculation for competitive exams <br/>

                <a href="/flashcard/table/20?practicemode=true">Practice mode</a><br/>
              </div>

            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>



