<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>My first words flashcard</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/myFirstWordsBanner.png"  class="offset-s3 responsive-img" alt="My first words for baby and kids">
      </div>
      <div class="col s12 m12 l12">

        <!--<div class="card-panel">-->
          <!--<span class="black-text">At this age 1, children start saying few meaningful words like "pappa", "mumma", "dadda". They make many different sounds. They start following easy instructions like "no", "come", "bye". With little talking, they start grasping easy words.-->
              <!--</span><br/><br/>-->

          <!--<strong>Speech development Milestone: </strong><br/>-->
          <!--1. Start saying some words like "pappa", "mamma", "dadda", "bye bye", "babba" <br/>-->
          <!--2. Children say around 10 or more words <br/>-->
          <!--3. Pointing to familiar people, objects <br/>-->
          <!--4. Recognizing body parts <br/> <br/>-->

          <!--<strong>Flashcards to improve speech development:</strong><br/>-->
          <!--<p>We have designed special digital flashcards for children aged 12-18 months. It covers the-->
            <!--variety of words according to the age. Parents can use the digital flashcards to motivate children-->
            <!--to speak the words. Regular practice helps children to recognise the pictures in the digital flashcard.-->
            <!--Please refer to how to use digital flashcard FAQs for more information. </p>-->
          <!--<span class="card-title"><a href="/speech-development">more on speech development ...</a></span> <br/>-->
        <!--</div>-->
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            My first 25 words Gif Flashcards
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/myfirst25words-flashcard">
                <img src="/assets/img/myFirst25WordsBanner.png"  align="center" class="offset-s3 responsive-img" alt="My first 25 words Gif Flashcards for baby"></a></div>

            <div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/myfirst25words-flashcard">My first 25 words Gif Flashcards</a></span> <br/>
              <!--<span class="black-text">Kids start saying some alphabets very quickly due the catchy sounds.-->
                <!--They may not recognise all alphabets or the correct order at age 3. Parents should show the alphabet flashcard-->
                <!--to the child and make the sound in front of them. We should encourage kids to mimic the sound and recognize the alphabets.-->
                <!--<br/><br/>-->
                <!--Parents should let child recognize the alphabet before telling them. Sometime, they may recognize-->
                <!--incorrectly but with regular practise they will improve. <br/>-->
                <!--<br/>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>-->
        <!--</span>-->
              <div>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/flashcard/myfirst25words-flashcard">My first 25 words Gif Flashcards</a><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            My next 25 words Gif Flashcards
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/myfirst25pluswords-flashcard">
                <img src="/assets/img/myFirst25WordsBanner.png"  align="center" class="offset-s3 responsive-img" alt="My first 25 plus words Gif Flashcards for baby"></a></div>

            <div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/myfirst25words-flashcard">My next 25 words Gif Flashcards</a></span> <br/>
              <!--<span class="black-text">Kids start saying some alphabets very quickly due the catchy sounds.-->
              <!--They may not recognise all alphabets or the correct order at age 3. Parents should show the alphabet flashcard-->
              <!--to the child and make the sound in front of them. We should encourage kids to mimic the sound and recognize the alphabets.-->
              <!--<br/><br/>-->
              <!--Parents should let child recognize the alphabet before telling them. Sometime, they may recognize-->
              <!--incorrectly but with regular practise they will improve. <br/>-->
              <!--<br/>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>-->
              <!--</span>-->
              <div>
                <div>
                  <a class="waves-effect waves-teal btn-flat" href="/flashcard/myfirst25words-flashcard">My next 25 words Gif Flashcards</a><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            My first 50 words Flashcards
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE3FIRST50WORDSFLASHCARD">My first 50 words Flashcards</a></span> <br/>
              <!--<span class="black-text">Kids love numbers. It plays important role in the life later. Parents should show the number flashcard-->
                <!--to the child and make the sound in front of them. We should encourage kids to mimic the sound and recognize the numbers.-->
                <!--<br/><br/>-->
                <!--Parents should let child recognize the numbers before telling them. Sometime, they may recognize-->
                <!--incorrectly but with regular practise they will improve. <br/>-->
                <!--<br/>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>-->
        <!--</span>-->
              <div>
                <a class="waves-effect waves-teal btn-flat" href="/flashcard/AGE3FIRST50WORDSFLASHCARD">My first 50 words Flashcards</a><br/>

              </div>

            </div>
          </div>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE3FIRST50WORDSFLASHCARD"><img src="assets/img/50words.png"  class="offset-s3 responsive-img" alt="My first 50 words Flashcards"></a></div>

            <div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>



