<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
        <h1 class="heading-alignment">Age 2| Speech Development & flashcards</h1>
      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/alphabetbanner.png"  class="offset-s3 responsive-img" alt="Age 18 months Speech Development">
      </div>
      <div >

        <div class="card-panel">
          <span class="black-text">
          <strong>What are the overall development milestones at age 2? </strong><br/>
          <p>Age 2 is full of energy and excitement as kids start
            exploring around by crawling, walking, babbling, talking
            and tasting everything they grab. Children progress the
            developmental  milestones in a natural and predictable
            sequence but each child grows at her/his own pace. Parents
            should be extra careful as kids encounter accidents like
            slipping from stairs, touching hot tea or coffee, smashing
            fingers in doors etc.

          </p>
          <p>Some common milestones at age 2:</p>
         <ol>
           <li>Kids start walking independently</li>
           <li>Can follow simple instructions like “Hi five”, “flying Kiss”, “pass the ball” etc.</li>
           <li>Riding a tricycle or scooter</li>
           <li>Recognising few objects and name them</li>
           <li>Able to climb few steps on stairs</li>
           <li>Scribble and draw simple strokes with a crayon</li>
           <li>Try to do a few simple things on your instructions without your help.</li>
           <li>lets you know when they do a poo or wee in their nappy.</li>
           <li>Kicks a ball</li>
           <li>Eats with a spoon</li>
           <li>Able to climb few steps on stairs</li>
           <li>Finds objects even when hidden under two or three covers</li>
         </ol>


            <strong>What are the <u>speech development</u> milestones? </strong><br/>
          <p>At age 2, children are confident and clear in some words, they start
            putting two or three words together into short ‘sentences’.
            Children start recognising family members and pointing to
            familiar things when named.
            Their vocabulary grows rapidly, talk to them frequently
            or show flashcards
          </p>

          <p>There are some milestones which help to identify the
            normal speech development in the kids.
            These milestones can help parents if they need to spend
            extra time with kids on speech development.</p>

          <p>Speech development Milestone at age 2:</p>
          <ol>
            <li>Children say around 50 or more words</li>
            <li>Put two words together, such as "no Milk", “Go out”, “no sleep”, "more milk", "bye car", "come here"</li>
            <li>Follow simple instructions</li>
            <li>Knows names of family members and body parts</li>
            <li>Pointing to familiar things or pictures when named</li>
            <li>Responds to easy questions</li>
            <li>Children can say most of the words in first 50 words flashcard</li>
            <li>Repeat words as they hear from others or TV/ Google mini/ Alexa</li>
          </ol>

            <p>Speech development process depends on many factors like:</p>
            <ol>
              <li>Family size</li>
              <li>Atmosphere at home</li>
              <li>Parents engagement with kids</li>
              <li>Social circle</li>
              <li>Parents habits</li>
            </ol>

          <strong>Flashcards to improve speech development:</strong><br/>
            <p>We have designed variety of flashcards for age 2. It covers the variety of video and pictorial flashcards like
            <a href="/fruit-flashcard">fruit flashcards</a>, <a href="/animal-flashcard">animal flashcards</a>,
            <a href="/transportation-flashcard">transportation flashcards</a>, <a href="/vegetable-flashcard">vegetable flashcards</a>,
              <a href="/flowers-flashcard">flower flashcard</a>, food flashcards.</p>

            <p>You may refer to <a href="/age2-vocabulary-flashcards"> age 1 flashcards</a>.
              It comprise of special video flashcards which kids enjoy.
            It covers words from my first words list. It helps kids to pick up
              initial words to start communication.</p>

          <p>Parents can use the video flashcards to
            motivate children to speak the words. Regular
            practice helps children to recognize the pictures
            in the digital flashcard.
            Please refer to how to use digital flashcard FAQs
            for more information.</p>

          <a class="waves-effect waves-light btn" href="/speech-development">read more</a> <br/>

            </span>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            Elementry Pictorial Flashcards
          </blockquote></h2>
          <div class="col s12 m4 l4">
            <div class="card">

                <div class="card-content" style="text-align: center">
                  <h3>Fruits Flashcard</h3>
                </div>
              <a href="/flashcard/age2-fruit-flashcard">
                <div class="card-image">

                  <img src="assets/img/fruits.png">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
              <a class="waves-effect waves-light btn"
                 href="/flashcard/age2-fruit-flashcard">Play Flashcard</a>
                <br/><br/>

                <strong><u>Word list</u></strong>
                <table>
                  <tr>
                    <td>
                      Apple
                    </td>
                    <td>
                      Banana
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cherry
                    </td>
                    <td>
                      Grapes
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Kiwi
                    </td>
                    <td>
                      Mango
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Orange
                    </td>
                    <td>
                      Pear
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Pineapple
                    </td>
                    <td>
                      Strawberry
                    </td>
                  </tr>
                </table>
                <br/>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card">

              <div class="card-content" style="text-align: center">
                <h3>Vegetable Flashcard</h3>
              </div>
              <a href="/flashcard/age2-vegetable-flashcard">
                <div class="card-image">

                  <img src="assets/img/vegetablebanner.png">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/age2-vegetable-flashcard">Play Flashcard</a>
                <br/><br/>

                <strong><u>Word list</u></strong>
                <table>
                  <tr>
                    <td>
                      Potato
                    </td>
                    <td>
                      Capsicum
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Eggplant
                    </td>
                    <td>
                      Tomato
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Spinach
                    </td>
                    <td>
                      Onion
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Beetroot
                    </td>
                    <td>
                      Chili
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Carrot
                    </td>
                    <td>
                      Pumpkin
                    </td>
                  </tr>
                </table>
                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <h2><blockquote>
            Color & Shape Flashcards
          </blockquote></h2>
          <div class="col s12 m4 l4">
            <div class="card">

              <div class="card-content" style="text-align: center">
                <h3>Color Flashcard</h3>
              </div>
              <a href="/flashcard/age2-color-flashcard">
                <div class="card-image">

                  <img src="assets/img/age2color.png">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/age2-color-flashcard">Play Flashcard</a>
                <br/><br/>

                <strong><u>Word list</u></strong>
                <table>
                  <tr>
                    <td>
                      Red
                    </td>
                    <td>
                      Blue
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Green
                    </td>
                    <td>
                      Orange
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Pink
                    </td>
                    <td>
                      Purple
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Black
                    </td>
                    <td>
                      White
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Yellow
                    </td>
                    <td>
                      Brown
                    </td>
                  </tr>
                </table>
                <br/>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card">

              <div class="card-content" style="text-align: center">
                <h3>Shape Flashcard</h3>
              </div>
              <a href="/flashcard/age2-shape-flashcard">
                <div class="card-image">

                  <img src="assets/img/age2shape.png">

                </div>
              </a>
              <div class="card-content" style="text-align: center">
                <a class="waves-effect waves-light btn"
                   href="/flashcard/age2-shape-flashcard">Play Flashcard</a>
                <br/><br/>

                <strong><u>Word list</u></strong>
                <table>
                  <tr>
                    <td>
                      Circle
                    </td>
                    <td>
                      Cross
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Diamond
                    </td>
                    <td>
                      Heart
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Moon
                    </td>
                    <td>
                      Oval
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Rectangle
                    </td>
                    <td>
                      Square
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Star
                    </td>
                    <td>
                      Triangle
                    </td>
                  </tr>
                </table>
                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>




      <!--<div>-->
        <!--<div class="row">-->
          <!--<h2><blockquote>-->
            <!--Baby words-->
          <!--</blockquote></h2>-->
          <!--<div class="col s12 m4 l4">-->
            <!--<div class="card">-->
              <!--<a href="/flashcard/AGE2ALPHABETUPPERFLASHCARD?order=true">-->
                <!--<div class="card-content" style="text-align: center">-->
                  <!--Alphabet (Uppercase)<br/>-->
                <!--</div>-->
                <!--<div class="card-image">-->

                  <!--<img src="assets/img/ABC-uppercase.png">-->

                <!--</div>-->
              <!--</a>-->
              <!--<div class="card-content">-->
                <!--Age: 1 to 4 years<br/>-->
                <!--Description: Uppercase alphabets from A to Z <br/>-->
                <!--Order: Sequential order <br/>-->
                <!--<a href="/flashcard/AGE2ALPHABETUPPERFLASHCARD">Random order</a><br/>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="col s12 m4 l4">-->
            <!--<div class="card">-->
              <!--<a href="/flashcard/AGE2ALPHABETUPPERFLASHCARD?order=true">-->
                <!--<div class="card-content" style="text-align: center">-->
                  <!--Bedtime words<br/>-->

                <!--</div>-->
                <!--<div class="card-image">-->

                  <!--<img src="/assets/img/abc-lowercase.png">-->

                <!--</div>-->
              <!--</a>-->
              <!--<div class="card-content">-->
                <!--Age: 1 to 4 years <br/>-->
                <!--Description: Lowercase alphabets from a to z <br/>-->
                <!--Order: Sequential order <br/>-->
                <!--<a href="/flashcard/AGE2ALPHABETUPPERFLASHCARD">Random order</a><br/>-->
              <!--</div>-->

            <!--</div>-->
          <!--</div>-->


          <!--<div class="col s12 m4 l4">-->
            <!--<div class="card">-->
              <!--<a href="/flashcard/AGE2ALPHABETUPPERFLASHCARD?order=true">-->
                <!--<div class="card-content" style="text-align: center">-->
                  <!--Family<br/>-->

                <!--</div>-->
                <!--<div class="card-image">-->

                  <!--<img src="/assets/img/abc-lowercase.png">-->

                <!--</div>-->
              <!--</a>-->
              <!--<div class="card-content">-->
                <!--Age: 1 to 4 years <br/>-->
                <!--Description: Lowercase alphabets from a to z <br/>-->
                <!--Order: Sequential order <br/>-->
                <!--<a href="/flashcard/AGE2ALPHABETUPPERFLASHCARD">Random order</a><br/>-->
              <!--</div>-->

            <!--</div>-->
          <!--</div>-->




        <!--</div>-->
      <!--</div>-->
    </div>
  </div>

</div>

