<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Gestures Flashcard</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/age3gesture.png"  class="offset-s3 responsive-img" alt="Gestures flashcard vocabulary for kids">
      </div>
      <div>
        <br/>
      </div>
      <div class="col s12 m10 l12 offset-s3">
                <span class="black-text">Parents should show the gesture flashcard to the child and make the sound
                  in front of them. We should encourage kids to mimic the sound and recognize the gestures.<br/><br/>
                Parents should let child recognize the gestures before telling them. Sometime, they may
                  recognize incorrectly but with regular practise they will improve. <br/>
                <br/>Continuous practise of the flashcard may help to develop speech or improve speech in children. <br/>
                </span>
      </div>
      <div>
        <br/>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Gesture Flashcards
          </blockquote></h2>
          <div class="col s12 m6 l6">
            <div class="card">
              <a href="/flashcard/AGE3GESTUREFLASHCARD">
                <div class="card-content" style="text-align: center">
                  Gestures<br/>
                </div>
                <div class="card-image">

                  <img src="assets/img/age3gesture.png" alt="Gesture flashcard for age 1 to 4 years">

                </div>
              </a>
              <div class="card-content">
                <ul>
                  <li>
                    <strong>Age:</strong> 1 to 4 years<br/>
                  </li>
                  <li>
                    <strong>Description:</strong> Common Gestures in daily life<br/>
                  </li>
                  <li>
                    <strong>Flashcard words:</strong>Angry, Call me, Don't know, Follow me, Good luck,
                    Great job, Hello, High five, Hmmm, I have an idea, I love you,
                    I am bored, I am scared, Look, Loud, Me, Nice meeting you,
                    No, Oh no!, Perfect, Please, Shhh!, Stay away, Stop, Well done, Yes<br/>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!--<div class="col s12 m6 l6">-->
          <!--<div class="card">-->
          <!--<a href="/flashcard/AGE2ALPHABETUPPERFLASHCARD?order=true">-->
          <!--<div class="card-content" style="text-align: center">-->
          <!--Alphabet (lowercase)<br/>-->

          <!--</div>-->
          <!--<div class="card-image">-->

          <!--<img src="/assets/img/abc-lowercase.png">-->

          <!--</div>-->
          <!--</a>-->
          <!--<div class="card-content">-->
          <!--Age: 1 to 4 years <br/>-->
          <!--Description: Lowercase alphabets from a to z <br/>-->
          <!--Order: Sequential order <br/>-->
          <!--<a href="/flashcard/AGE2ALPHABETUPPERFLASHCARD">Random order</a><br/>-->
          <!--</div>-->

          <!--</div>-->
          <!--</div>-->

        </div>
      </div>


    </div>
  </div>



