<div class="row">
  <div class="col s12 m10 l8 offset-s3">
    <div class="card">
      <div align="center">
        <h1>Fruits Flashcard</h1>
      </div>

      <div class="col s12 m112 l12 offset-s3" align="center">
        <img src="/assets/img/fruitbanner.png"  class="offset-s3 responsive-img" alt="Name and Pictures of Fruits flashcard">
      </div>
      <div>
        <br/>
      </div>
      <div class="col s12 m10 l12 offset-s3">
                <span class="black-text">
                  <p>Nature has blessed us with many delicious fruits.
                    Fruits are sweet and juicy in taste. Its available in
                    different <a href="/shapes-flashcard"> shapes</a>, <a href="/colors-flashcard">colors</a> and taste. Fruits in moderate
                    amounts are considered good for health. We have covered a
                    variety of fruits in a <a href="/fruit-flashcard">fruit flashcard</a>.
                  </p>

                  <p>Kids like fruits from an early age. They enjoy eating
                    fruits like apples, bananas, mango berries etc in solid
                    or pulp form. Nowadays many baby products come in fruit
                    flavour to attract parents.
                  </p>


                  <p>
                    Fruits can be used to teach different shapes like round (orange),
                    oval (grapes) and <a href="/colors-flashcard">colors</a> like apple (red),
                    pear (green), banana (yellow). We can use fruits to teach
                    counting, we have <a href="/counting-flashcard">counting flashcards</a> for kids.
                  </p>


                  <p>Fruits can be broadly classified as below:</p>
                    <ol><li>
                      <strong>Berries:</strong> Barriers are small in size but very juicy in taste. It is perishable so we need to consume it in a few days. Few examples of barriers are  blueberries, raspberries, strawberries.
                    </li><li>
                      <strong>Pits:</strong>  Pits are soft, fleshy and have seeds inside. Few examples of pits are   peaches, apricots and plums.
                    </li><li>
                      <strong>Core:</strong> Core fruits are comparatively bigger than pits. It has a thick layer of flesh containing seeds inside. Few examples of pits are apples, pears and mango.
                    </li><li>
                      <strong>Citrus Fruits:</strong> Citrus fruits are sour in taste. It typically have thick outer skin with few seeds inside.
                    Few examples of pits are oranges, lemons and mango
                    </li><li>
                      <strong>Melons:</strong> Melons are juicy fruits with many seeds inside. It is large in size with thick outer skin.
                    Few examples of melons are watermelon and honeydew.
                    </li><li>
                      <strong>Tropical Fruits:</strong> Tropical fruits are favourite of all and are grown in warm weather. Example of tropical fruits are pineapples, pomegranates, guavas, mangoes
                    </li></ol>


                  <p>Different fruits are grown in different <a href="/weather-flashcard">weather</a> conditions.
                    Apples need cold climates  and mangoes need warm weather.
                    Fruits are <a href="/transportation-flashcard">transported</a> from one place to another to meet the everybodies demand.

                  </p>


                  <p>In recent days, the food industry has evolved.
                    They have shared so many new recipes which attracts
                    people to consume more fruits and a healthy diet.
                    We can use innovative <a href="/appliance-flashcard">home appliances</a> to prepare
                    healthy food at home like banana bread, mango shake, fruit salads etc.
                  </p>



                  <!--<h3>How to use this flashcard?</h3>-->
                  <!--<p>  Fruits help kids to grow faster. Kids enjoy yummy-->
                      <!--fruits and its flashcard. Parents should show the fruit flashcard-->
                      <!--to the child and make the sound in front of them. We should-->
                      <!--encourage kids to mimic the sound and recognize the fruits.-->
                  <!--</p>-->
                  <!--<p>   Parents should let child recognize the fruits before-->
                      <!--telling them. Sometime, they may recognize-->
                      <!--incorrectly but with regular practise they will improve. <br/>-->
                  <!--</p>-->

                  <!--<p>Continuous practise of the flashcard may help to-->
                    <!--develop speech or improve speech in children. <br/>-->
                 <!--</p>-->

                  <!--<h3>Speech Development</h3>-->
                  <!--<p>You can check the progress of speech development-->
                    <!--of your child <a href="/speech-development">here</a>.</p>-->

                </span>
      </div>


      <div>
        <div class="row">
          <h2><blockquote>
            Fruits Flashcards
          </blockquote></h2>
          <div class="col s12 m6 l6">

            <div class="col s12 m12 l12 offset-s3" style="margin: .5rem 0 1rem 0">
              <a href="/flashcard/AGE3FRUITSFLASHCARD">
                <img src="/assets/img/fruits.png"  align="center" class="offset-s3 responsive-img"
                     alt="pictures and name of fruits flashcard"></a></div>

            <div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card-panel">
              <span class="card-title"><a href="/flashcard/AGE3FRUITSFLASHCARD">
                Pictures of Fruits Flashcards</a></span> <br/>

              <ul>
                <li>
                  <strong>Age:</strong> 1 to 4 years<br/>
                </li>
                <li>
                  <strong>Description:</strong> Name and Pictures of delicious fruits<br/>
                </li>
                <li>
                  <strong>Flashcard for following:</strong>
                  <table>
                    <tr>
                      <td>
                        Apple
                      </td>
                      <td>
                        Apricot
                      </td>
                      <td>
                        Avocado
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Banana
                      </td>
                      <td>
                        Cherry
                      </td>
                      <td>
                        Coconut
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Custard apple
                      </td>
                      <td>
                        Grapes
                      </td>
                      <td>
                        Guava
                      </td>

                    </tr>
                    <tr>
                      <td>
                        Kiwi
                      </td>
                      <td>
                        Lime
                      </td>
                      <td>
                        Mango
                      </td>

                    </tr>
                    <tr>

                      <td>
                        Orange
                      </td>
                      <td>
                        Papaya
                      </td>
                      <td>
                      Peach
                    </td>

                    </tr>
                    <tr>
                      <td>
                        Pear
                      </td>
                      <td>
                        Pineapple
                      </td>
                      <td>
                        Plum
                      </td>

                    </tr>
                    <tr>

                      <td>
                        Pomegranate
                      </td>
                      <td>
                        Strawberry
                      </td><td>
                      Watermelon
                    </td>

                    </tr>
                  </table>
                  <br/>
                </li>
              </ul>
              <div>
                <div>
                  <a class="waves-effect waves-teal btn-flat"
                     href="/flashcard/AGE3FRUITSFLASHCARD">Play fruits Flashcards</a><br/>
                </div>



              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>



</div>
